{% extends "account/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans with email=user.email %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>


<!-- action="{% url 'account_email' %}" class="email_list" method="post" -->
<form id="form">
  {% csrf_token %}
  {% for emailaddress in user.emailaddress_set.all %}
      <div>{{emailaddress.email}}</div>
      <input type="hidden" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

    {% if emailaddress.verified %}
      <span class="verified">{% trans "Verified" %}</span>
    {% else %}
      <input type="hidden" name="action_send" value="" />
    {% endif %}
  {% endfor %}
</form>

<button style="margin-top:10px;" onclick="handleEmailAction()" name="action_send" >{% trans 'Re-send Verification' %}</button>

<script src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript">
   function handleEmailAction() {
      var formData = $('#form').serialize();
      $.post('{% url 'account_email' %}', formData)
        .done(function( data ) {
          alert('Resend!');
        });
   };
</script>
{% endblock %}
