// main: main.less

/* ==========================================================================
 Button
 ========================================================================== */
.button {
  display: inline-block;
  background-color: @green;
  border-radius: 5px;
  line-height: 12px;
  font-weight: 700;
  padding: 14px 36px;
  color: #fff;
  .transition(.3s background-color);
  .box-sizing(border-box);
  cursor: pointer;
  text-align: center;
  position: relative;

  &:hover {
    background-color: @green-dark;
    .transition(.1s background-color);
  }

  &.wechat {
    background-color: @brand-color-wechat;

    &:hover {
      background-color: @brand-color-wechat-dark;
    }
  }

  &.facebook {
    background-color: @brand-color-facebook;

    &:hover {
      background-color: @brand-color-facebook-dark;
    }
  }

  &.google {
    background-color: @brand-color-google;

    &:hover {
      background-color: @brand-color-google-dark;
    }
  }

  &.with-icon {
    padding: 14px 0 14px 30px;

    .icon {
      position: absolute;
      width: 40px;
      height: 40px;
      left: 0;
      top: 0;

      svg path {
        fill: #fff;
      }
    }
  }
}


/* ==========================================================================
 Dropdown
 ========================================================================== */
.dropdown {
  display: inline-block;
  margin-left: -15px;
  cursor: pointer;
  .box-sizing(border-box);
  position: relative;
  height: 40px;
  .transition(.3s all);

  .current {
    position: relative;
    line-height: 12px;
    padding: 13px 35px 13px 15px;
    white-space: nowrap;
    z-index: 2;
  }

  .menu {
    position: absolute;
    .box-sizing(border-box);
    top: -2px;
    left: 0;
    padding-top: 40px;
    z-index: 1;
    border: 1px solid fade(@grey-3, 0%);
    background-color: #fff;
    border-radius: 5px;
    .transition(.3s all);

    li {
      padding-left: 15px;
      padding-right: 35px;
      line-height: 5px;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 0;
      white-space: nowrap;
      .transition-m(.3s all, 0.15s opacity);

      &:last-child {
        #border-radius > .bottom(4px);
      }
    }
  }

  &::after {
    content: " ";
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    right: 15px;
    top: 15px;
    .transition(.3s all);
    border: 3px solid @green;
    border-top-color: fade(@green, 0%);
    border-right-color: fade(@green, 0%);
    .rotate(-45deg);
    .transform-origin(1.5px 4.5px);
  }

  &.with-icon {

    .current {
      padding-left: 45px;
    }

    .icon {
      position: absolute;
      z-index: 2;
      width: 30px;
      height: 30px;
      left: 7px;
      top: 4px;

      svg path {
        fill: @grey-2;
        .transition(.3s fill);
      }
    }

    .menu li {
      padding-left: 45px;
    }
  }

  &:hover {

    &.with-icon .icon svg path {
      fill: @grey-1;
      .transition(.1s fill);
    }

    .menu {
      border: 1px solid @grey-3;
      .transition-m(all .3s, border .1s);
    }
  }

  &.open {

    &::after {
      .rotate(135deg);
    }

    .menu {
      border: 1px solid @grey-3;

        li {
        width: auto;
        line-height: 12px;
        padding-top: 14px;
        padding-bottom: 14px;
        opacity: 1;
        .transition-m(.3s all, 0s background);

        &:hover {
          background: @grey-5;
          .transition(0.1s background);
        }
      }
    }
  }
}


/* ==========================================================================
 Checkbox
 ========================================================================== */
input[type="checkbox"] {
  display:none;

  + label {
    display: block;
    line-height: 12px;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    white-space: nowrap;

    &::before {
      content: " ";
      position: absolute;
      left: 0;
      top: -2px;
      width: 16px;
      height: 16px;
      box-shadow: inset 0 0 0 2px @grey-1;
      border-radius: 3px;
      .transition(.1s all);
      background-image: none;
    }
  }

  &:disabled {
    + label {
      &::before {
        background-color: @grey-5;
        box-shadow: inset 0 0 0 2px @grey-3;
        background-image: none;
      }
    }
  }

  &:checked {
    + label {
      &::before {
        box-shadow: inset 0 0 0 2px @green;
        background-color: @green;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polygon fill="#fff" points="2.5 9.5 3.91000366 8.08999634 6 10.17 12.0899963 4.07998657 13.5 5.5 6 13"></polygon></svg>');
      }
    }
  }
}


/* ==========================================================================
 Inputbox
 ========================================================================== */
input[type="text"] {
  .appearance(@appearance: none);
  .box-sizing(border-box);
  display: block;
  outline: none;
  border: none;
  border-bottom: 1px solid @grey-2;
  box-shadow: 0 0 0 @grey-2;
  line-height: 20px;
  height: 31px;
  font-weight: 700;
  color: @green;
  padding-top: 7px;
  z-index: 1;
  position: relative;
  left: 0;
  right: 15px;
  width: 100%;
  background-color: transparent;
  margin-bottom: 20px;
  .transition(.3s all);

  + label {
    position: absolute;
    left: 0;
    top: 7px;
    line-height: 20px;
    .transition(.3s all);
  }

  &:focus, &.has-content {
    border-bottom-color: @green;
    box-shadow: 0 1px 0 @green;

    + label {
      top: -12px;
      font-size: 10px;
      font-weight: 700;
    }
  }
}


/* ==========================================================================
 Checklist
 ========================================================================== */
.checklist {

  li {
    #flex > .display();
    #flex > .justify-content(space-between);
    #flex > .align-items(center);
    padding-top: 10px;
    padding-bottom: 10px;
    .transition(0.3s all);
    box-shadow: 15px 0 0 fade(@grey-5, 0%), -15px 0 0 fade(@grey-5, 0%);
    border-radius: 5px;

    .checklist-actions {
      #flex > .grow(1);
      text-align: right;

      .link {
        cursor: pointer;
        margin-left: 30px;
        line-height: 12px;
        font-weight: 700;
        color: @green;
        border-bottom: 2px solid fade(@green, 15%);
        .transition(0.1s all);
        opacity: 0;

        &:hover {
          border-bottom-color: fade(@green, 75%);
        }
      }
    }

    &:hover {
      background-color: @grey-5;
      box-shadow: 15px 0 0 @grey-5, -15px 0 0 @grey-5;
      .transition(0.1s all);

      .link {
        opacity: 1;
        .transition(0.1s all);
      }
    }
  }
}


/* ==========================================================================
 Badge
 ========================================================================== */
.badge {
  position: absolute;
  top: -2px;
  left: 100%;
  margin-left: 10px;
  display: block;
  font-size: 10px;
  line-height: 8px;
  padding: 3px 5px;
  border: 1px solid @orange;
  color: @orange;
  border-radius: 3px;
  font-weight: 700;
  white-space: nowrap;

  &.inactive {
    border-color: @grey-3;
    color: @grey-3;
  }

  &.solid {
    background-color: @orange;
    color: #fff;
  }
}


/* ==========================================================================
 Editable Content
 ========================================================================== */
[contenteditable="true"] {
  outline: none;
  .appearance(@appearance: none);
  border-radius: 5px;

  &:hover {
    box-shadow: inset 0 0 0 1px @grey-3;
  }
}
