// main: main.less

@black: #3C3C47;

@grey-1: #898A9B;
@grey-2: #BDBDC8;
@grey-3: #D5D6DD;
@grey-4: #F0F0F4;
@grey-5: #F8F8FA;

@green: #66CC80;
@orange: #F29D49;
@red: #E1645A;

@green-dark: mix(@green, @black, 90%);
@orange-dark: mix(@orange, @black, 90%);
@red-dark: mix(@red, @black, 90%);

@brand-color-wechat: #78C85A;
@brand-color-facebook: #506EB4;
@brand-color-google: #E1645A;

@brand-color-wechat-dark: mix(@brand-color-wechat, @black, 90%);
@brand-color-facebook-dark: mix(@brand-color-facebook, @black, 83%);
@brand-color-google-dark: mix(@brand-color-google, @black, 90%);
