// out: ../../main.css, compress: false

@import "_normalize.less";
@import "_mixins.less";
@import "_variables.less";
@import "_components.less";


/* ==========================================================================
 Global
 ========================================================================== */

html {
  font-size: 100%; //16px
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Oxygen', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  #flex > .display();
  #flex > .justify-content(space-between);
  #flex > .align-items(stretch);
  color: @black;
}

::-moz-selection {
  background: @green;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: @green;
  color: #fff;
  text-shadow: none;
}


/* ==========================================================================
 Welcome
 ========================================================================== */
.welcome {
  #flex > .direction(column);
  #flex > .justify-content(center);
  #flex > .align-items(center);

  .logo {
    height: 44px;

    svg path {
      fill: @green;
    }
  }

  .slogan {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    margin: 30px 0 40px 0;
  }

  .actions {
    padding-bottom: 30px;
  }

  .logo, .slogan, .actions, .login-buttons {
    .transition(.5s all);
    opacity: 1;

    &.hide {
      opacity: 0;
    }
  }

  .login-buttons {
    display: none;

    .button {
      margin-bottom: 30px;
      display: block;
      width: 300px;
    }
  }
}


/* ==========================================================================
 Header (Sidebar)
 ========================================================================== */
header {
  #flex > .display();
  #flex > .direction(column);
  #flex > .justify-content(space-between);
  #flex > .align-items(stretch);
  border-right: 1px @grey-4 solid;

  .logo {
    padding: 30px 0 30px 30px;

    svg path {
      fill: @green;
    }
  }

  ul.menu {
    #flex > .grow(1);
    .box-sizing(border-box);

    li a {
      .text-truncate();
      .box-sizing(border-box);
      width: 200px;
      display: block;
      line-height: 12px;
      padding: 14px 30px;
      color: @grey-1;
      cursor: pointer;
      background-color: #fff;
      box-shadow: inset 0 0 0 @green;
      .transition(.3s background-color);

      &.selected {
        color: @black;
        font-weight: 700;
        box-shadow: inset -2px 0 0 @green, 1px 0 0 @green;
      }

      &:hover {
        background-color: @grey-5;
        .transition(.1s background-color);
      }
    }
  }

  .settings {
    #flex > .align-self(flex-start);
    height: 80px;
    .box-sizing(border-box);
    padding: 25px;

    .settings-icon {
      cursor: pointer;
      display: block;

      svg path {
        fill: @grey-2;
        .transition(.3s fill);
      }

      &:hover {
        svg path {
          fill: @grey-1;
          .transition(.1s fill);
        }
      }
    }
  }
}


/* ==========================================================================
 Main
 ========================================================================== */
main {
  #flex > .display();
  #flex > .grow(1);
  padding: 60px;

  &.empty {
    #flex > .direction(column);
    #flex > .justify-content(center);
    #flex > .align-items(center);
    padding: 60px 60px 60px 60px;
  }

  &.tiles {
    #flex > .direction(column);
    #flex > .justify-content(center);
    #flex > .align-items(center);
    padding: 60px 60px 60px 60px;
    overflow: auto;
  }

  &.content {
    display: block;
    padding: 30px 60px 30px 60px;
    overflow: auto;
  }

  .intro {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .actions {
    padding-bottom: 30px;
  }

  .nav {
    margin-bottom: 45px;

    a {
      line-height: 12px;
      color: @green;
      cursor: pointer;
      font-weight: 700;
      border-bottom: 2px solid fade(@green, 15%);
      .transition(0.3s all);
      margin-right: 30px;

      &.delete {
        color: @grey-2;
        border-bottom-color: @grey-4;
      }

      &:hover {
        border-bottom-color: fade(@green, 75%);
        .transition(0.1s all);

        &.delete {
          color: @red;
          border-bottom-color: fade(@red, 75%);
        }
      }
    }
  }

  .headline {
    font-weight: 300;
    font-size: 32px;
    line-height: 24px;
    margin-bottom: 25px;
  }

  .selections {
    position: relative;
    margin-bottom: 45px;
    #flex > .display();
    #flex > .wrap(wrap);
    z-index: 2;
    // height: 40px;

    .dropdown {
      margin-right: 25px;
    }
  }

  .required-documents {
    padding-bottom: 30px;
    border-bottom: 1px solid @grey-4;
    margin-bottom: 30px;

    .title {
      line-height: 12px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    .sub-title {
      line-height: 12px;
      color: @grey-2;
      margin-bottom: 20px;
    }
  }

  .application-form {
    padding-bottom: 30px;

    .title {
      line-height: 12px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    .sub-title {
      line-height: 12px;
      color: @grey-2;
      margin-bottom: 30px;
    }

    ul.form-inputs {
      #flex > .display();
      #flex > .wrap(wrap);
      #flex > .justify-content(space-between);

      li {
        position: relative;
        width: calc(~"50% - 15px");
      }
    }
  }
}


/* ==========================================================================
 Print Bucket
 ========================================================================== */
.print-bucket {
  #flex > .display();
  #flex > .direction(column);
  #flex > .justify-content(space-between);
  #flex > .align-items(stretch);
  border-left: 1px @grey-4 solid;
  .box-sizing(border-box);

  .header {
    #flex > .display();
    #flex > .justify-content(space-between);
    #flex > .align-items(center);
    height: 72px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid @grey-4;
    .box-sizing(border-box);

    .title {
      line-height: 12px;
      font-weight: 700;
    }

    .number-bubble {
      padding: 4px 6px;
      line-height: 9px;
      font-size: 12px;
      background-color: @orange;
      color: #fff;
      font-weight: 700;
      border-radius: 3px;
    }
  }

  ul.file-list {
    #flex > .grow(1);
    padding-top: 16px;
    overflow-y: auto;

    li {
      #flex > .display();
      #flex > .justify-content(space-between);
      padding: 14px 30px;
      line-height: 12px;
      width: 300px;
      .box-sizing(border-box);
      .transition(.3s all);

      &.hide {
        opacity: 0;
      }

      .file-name {
        position: relative;
      }

      .close-button {
        #flex > .grow(1);
        margin-top: -1px;
        text-align: right;

        svg {
          cursor: pointer;
          .transition(.3s all);

          polygon {
            fill: @grey-2;
            .transition(.3s all);
          }

          &:hover {
            .rotate(90deg);

            polygon {
              fill: @grey-1;
              .transition(.1s all);
            }
          }
        }
      }
    }
  }

  .footer {
    padding: 30px;

    .button {
      width: 100%;
    }
  }
}

/* ==========================================================================
 Media Queries
 ========================================================================== */

@media only screen and (min-width: 480px) {

}
