html, body, * {
  font-family: 'Oxygen', 'Helvetica', sans-serif;
  text-decoration: none;
}

/*@font-face {
  font-family: 'Oxygen';
  font-weight: 300;
  src: local('Oxygen Regular'), local('OpenSans-Light'), url('http://139.129.55.236:8888/static/fonts/oxygen/Oxygen-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Oxygen';
  font-weight: 400;
  src: local('Oxygen Light'), local('Oxygen-Light'), url('../fonts/oxygen/Oxygen-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Oxygen';
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url('../fonts/oxygen/Oxygen-Bold.ttf') format('ttf');
}
*/

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
	background: #66CC80;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
	border: 2px solid #66CC80;
}

.mdl-radio.is-checked .mdl-radio__inner-circle {
	background: #66CC80;	
}
.mdl-radio.is-checked .mdl-radio__outer-circle {
	border: 2px solid #66CC80;
}


.demo-avatar {
	width: 50px;
  border-radius: 5px;
}
.demo-layout .demo-header .mdl-textfield {
  padding: 0px;
}

.drawer-settings {
	position: absolute;
	bottom: 16px;
	left: 40px;
}

.mdl-layout__drawer {
	max-width: 200px;
	background-color: white;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	padding-left: 40px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 8px;
	margin-bottom: 8px;
	color: #898A9B;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  color: #3C3C47;
  background-color: transparent;
  border-right: 3px solid #27ae60;
  font-weight: bold;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.active {
  color: #3C3C47;
  background-color: transparent;
  border-right: 3px solid #27ae60;
  font-weight: bold;
}

.grid_list {
	display: flex;
	flex-wrap: wrap;
}

.application_wrapper, .application_default {
	margin: 30px;
	width: 200px;
	height: 200px;
	float: none;
	position: static;
}

.document_wrapper {
	margin: 30px;
	width: 120px;
	height: 120px;
	float: none;
	position: static;
}

.application_default {
	margin-top: 10px;
}

.application_icon {
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.application_alias {
	font-size: 16px;
	color: #3C3C47;
	word-wrap: break-word;
	text-align: center;
	margin-top: 20px;
}

.detail_page_title {
	font-family: "Oxygen";
	font-weight: 400;
	font-size: 32px;
	color: #3C3C47;
	letter-spacing: 0px;
	line-height: 24px;	
	margin-bottom: 30px;
}

.save_button, .save_button:hover {
	font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0px;
    line-height: 24px;
    background-color: #66CC80;
    border: 0px;
    border-radius: 2px;
    height: 40px;
    width: 100px;
}

.new_profile_button{
	font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0px;
    line-height: 24px;
    background-color: #66CC80;
    border: 0px;
    border-radius: 2px;
    height: 40px;
    width: 150px;
}
.property_radio{
	width: 200px;
}

.grey_text {
	color:#BDBDC8;
}

.green_text{
	color: #66CC80;
}

.thumbnail {
    height: 120px;
    width: 120px;
    overflow: hidden;
    object-fit: cover;
}


