//output: ../applications.html, pretty: true

doctype html
html.no-js(lang="en")
  - var pageTitle = "easyform"
  include ./_includes/head.jade
  body
    - var selectedPage = "applications"
    include ./_includes/header.jade
    
    main.tiles
      ul.application-list
        li
          .icon
          .title
    
    include ./_includes/footer.jade
    include ./_includes/script.jade
