//output: ../application-new.html, pretty: true

doctype html
html.no-js(lang="en")
  - var pageTitle = "easyform"
  include ./_includes/head.jade
  body
    - var selectedPage = "applications"
    include ./_includes/header.jade
    
    main.content
      .nav
        a(href="./applications-empty.html")
          | Go back
        a.delete(href="./applications-empty.html")
          | Delete
      .headline
        | Japanese Trip 09/2016
      .selections
        .dropdown.with-icon.select-profile
          .icon
            svg(width="30", height="30")
              path(d="M15,15 C17.21,15 19,13.21 19,11 C19,8.79 17.21,7 15,7 C12.79,7 11,8.79 11,11 C11,13.21 12.79,15 15,15 L15,15 Z M15,17 C12.33,17 7,18.34 7,21 L7,23 L23,23 L23,21 C23,18.34 17.67,17 15,17 L15,17 Z")
          .current
            | For Wubin Chen (Myself)
          ul.menu
            li
              | For Andi Song
            li
              | For Xinwei Wang
            li
              | For Han Liu
        .dropdown.with-icon.select-destination
          .icon
            svg(width="30", height="30")
              path(d="M11,24 L13,24 L18,16 L23.5,16 C24.33,16 25,15.33 25,14.5 C25,13.67 24.33,13 23.5,13 L18,13 L13,5 L11,5 L13.5,13 L8,13 L6.5,11 L5,11 L6,14.5 L5,18 L6.5,18 L8,16 L13.5,16 L11,24 L11,24 Z")
          .current
            | To Japan
          ul.menu
            li
              | To Australia
            li
              | To Hong Kong
            li
              | To Singapore
        .dropdown.with-icon.select-destination
          .icon
            svg(width="30", height="30")
              path(d="M21,7H9C7.9,7,7,7.9,7,9v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V9C23,7.9,22.1,7,21,7z M17,20h-7v-2h7V20z M20,16H10v-2h10V16z M20,12H10v-2h10V12z")
          .current
            | 7 Day Tourist Visa
          ul.menu
            li
              | Business Visa
            li
              | Another Type of Visa
      .required-documents
        .title
          | Required Documents
        .sub-title
          | 3/8 Checked
        ul.checklist
          each i in [1, 2, 3, 4, 5, 6, 7, 8]
            li
              - var docID = "doc-" + i
              input(type="checkbox", id=docID)
              label(for=docID)
                | 身份证复印件
                .badge
                  | 2 COPIES
              .checklist-actions
                a.link
                  | View
                a.link
                  | Re-upload
      .application-form
        .title
          | Application Form
        .sub-title
          | 80% Completed
        ul.form-inputs
          each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
            li
              - var inputID = "input-" + i
              input(type="text", id=inputID)
              label(for=inputID) 姓（中文）
    .print-bucket
      .header
        .title
          | Files to Print
        .number-bubble
          | 4
      ul.file-list
        li
          .file-name
            | Documents Checklist
        li
          .file-name
            | Application Form
            .badge.inactive 80%
      .footer
        a.button(href="#")
          | Preview & Print
    
    include ./_includes/footer.jade
    include ./_includes/script.jade
