//output: ../applications-empty.html, pretty: true

doctype html
html.no-js(lang="en")
  - var pageTitle = "easyform"
  include ./_includes/head.jade
  body
    - var selectedPage = "applications"
    include ./_includes/header.jade
    
    main.empty
      .intro
        | You haven’t created any applications
      .actions
        a.button#buttonTryNow(href="./application-new.html")
          | New Application
    
    include ./_includes/footer.jade
    include ./_includes/script.jade
