//output: ../documents.html, pretty: true

doctype html
html.no-js(lang="en")
  - var pageTitle = "easyform"
  include ./_includes/head.jade
  body
    - var selectedPage = "documents"
    include ./_includes/header.jade
    
    main.list
      ul.document-list
        li
          .icon
          .title
      
    
    include ./_includes/footer.jade
    include ./_includes/script.jade
