//output: ../profiles.html, pretty: true

doctype html
html.no-js(lang="en")
  - var pageTitle = "easyform"
  include ./_includes/head.jade
  body
    - var selectedPage = "profiles"
    include ./_includes/header.jade
    
    main
      
    
    include ./_includes/footer.jade
    include ./_includes/script.jade
