/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* UL, OL, LI
   ========================================================================== */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
/* ==========================================================================
 Button
 ========================================================================== */
.button {
  display: inline-block;
  background-color: #66CC80;
  border-radius: 5px;
  line-height: 12px;
  font-weight: 700;
  padding: 14px 36px;
  color: #fff;
  -webkit-transition: 0.3s background-color;
  -moz-transition: 0.3s background-color;
  -o-transition: 0.3s background-color;
  transition: 0.3s background-color;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.button:hover {
  background-color: #62be7a;
  -webkit-transition: 0.1s background-color;
  -moz-transition: 0.1s background-color;
  -o-transition: 0.1s background-color;
  transition: 0.1s background-color;
}
.button.wechat {
  background-color: #78C85A;
}
.button.wechat:hover {
  background-color: #72ba58;
}
.button.facebook {
  background-color: #506EB4;
}
.button.facebook:hover {
  background-color: #4d66a1;
}
.button.google {
  background-color: #E1645A;
}
.button.google:hover {
  background-color: #d16058;
}
.button.with-icon {
  padding: 14px 0 14px 30px;
}
.button.with-icon .icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
}
.button.with-icon .icon svg path {
  fill: #fff;
}
/* ==========================================================================
 Dropdown
 ========================================================================== */
.dropdown {
  display: inline-block;
  margin-left: -15px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 40px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.dropdown .current {
  position: relative;
  line-height: 12px;
  padding: 13px 35px 13px 15px;
  white-space: nowrap;
  z-index: 2;
}
.dropdown .menu {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: -2px;
  left: 0;
  padding-top: 40px;
  z-index: 1;
  border: 1px solid rgba(213, 214, 221, 0);
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.dropdown .menu li {
  padding-left: 15px;
  padding-right: 35px;
  line-height: 5px;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  white-space: nowrap;
  -webkit-transition: 0.3s all, 0.15s opacity;
  -moz-transition: 0.3s all, 0.15s opacity;
  -o-transition: 0.3s all, 0.15s opacity;
  transition: 0.3s all, 0.15s opacity;
}
.dropdown .menu li:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dropdown::after {
  content: " ";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  right: 15px;
  top: 15px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  border: 3px solid #66CC80;
  border-top-color: rgba(102, 204, 128, 0);
  border-right-color: rgba(102, 204, 128, 0);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 1.5px 4.5px;
  -moz-transform-origin: 1.5px 4.5px;
  -o-transform-origin: 1.5px 4.5px;
  transform-origin: 1.5px 4.5px;
}
.dropdown.with-icon .current {
  padding-left: 45px;
}
.dropdown.with-icon .icon {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  left: 7px;
  top: 4px;
}
.dropdown.with-icon .icon svg path {
  fill: #BDBDC8;
  -webkit-transition: 0.3s fill;
  -moz-transition: 0.3s fill;
  -o-transition: 0.3s fill;
  transition: 0.3s fill;
}
.dropdown.with-icon .menu li {
  padding-left: 45px;
}
.dropdown:hover.with-icon .icon svg path {
  fill: #898A9B;
  -webkit-transition: 0.1s fill;
  -moz-transition: 0.1s fill;
  -o-transition: 0.1s fill;
  transition: 0.1s fill;
}
.dropdown:hover .menu {
  border: 1px solid #D5D6DD;
  -webkit-transition: all 0.3s, border 0.1s;
  -moz-transition: all 0.3s, border 0.1s;
  -o-transition: all 0.3s, border 0.1s;
  transition: all 0.3s, border 0.1s;
}
.dropdown.open::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.dropdown.open .menu {
  border: 1px solid #D5D6DD;
}
.dropdown.open .menu li {
  width: auto;
  line-height: 12px;
  padding-top: 14px;
  padding-bottom: 14px;
  opacity: 1;
  -webkit-transition: 0.3s all, 0s background;
  -moz-transition: 0.3s all, 0s background;
  -o-transition: 0.3s all, 0s background;
  transition: 0.3s all, 0s background;
}
.dropdown.open .menu li:hover {
  background: #F8F8FA;
  -webkit-transition: 0.1s background;
  -moz-transition: 0.1s background;
  -o-transition: 0.1s background;
  transition: 0.1s background;
}
/* ==========================================================================
 Checkbox
 ========================================================================== */
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  line-height: 12px;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  white-space: nowrap;
}
input[type="checkbox"] + label::before {
  content: " ";
  position: absolute;
  left: 0;
  top: -2px;
  width: 16px;
  height: 16px;
  box-shadow: inset 0 0 0 2px #898A9B;
  border-radius: 3px;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
  background-image: none;
}
input[type="checkbox"]:disabled + label::before {
  background-color: #F8F8FA;
  box-shadow: inset 0 0 0 2px #D5D6DD;
  background-image: none;
}
input[type="checkbox"]:checked + label::before {
  box-shadow: inset 0 0 0 2px #66CC80;
  background-color: #66CC80;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polygon fill="#fff" points="2.5 9.5 3.91000366 8.08999634 6 10.17 12.0899963 4.07998657 13.5 5.5 6 13"></polygon></svg>');
}
/* ==========================================================================
 Inputbox
 ========================================================================== */
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  outline: none;
  border: none;
  border-bottom: 1px solid #BDBDC8;
  box-shadow: 0 0 0 #BDBDC8;
  line-height: 20px;
  height: 31px;
  font-weight: 700;
  color: #66CC80;
  padding-top: 7px;
  z-index: 1;
  position: relative;
  left: 0;
  right: 15px;
  width: 100%;
  background-color: transparent;
  margin-bottom: 20px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
input[type="text"] + label {
  position: absolute;
  left: 0;
  top: 7px;
  line-height: 20px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
input[type="text"]:focus,
input[type="text"].has-content {
  border-bottom-color: #66CC80;
  box-shadow: 0 1px 0 #66CC80;
}
input[type="text"]:focus + label,
input[type="text"].has-content + label {
  top: -12px;
  font-size: 10px;
  font-weight: 700;
}
/* ==========================================================================
 Checklist
 ========================================================================== */
.checklist li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  box-shadow: 15px 0 0 rgba(248, 248, 250, 0), -15px 0 0 rgba(248, 248, 250, 0);
  border-radius: 5px;
}
.checklist li .checklist-actions {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  text-align: right;
}
.checklist li .checklist-actions .link {
  cursor: pointer;
  margin-left: 30px;
  line-height: 12px;
  font-weight: 700;
  color: #66CC80;
  border-bottom: 2px solid rgba(102, 204, 128, 0.15);
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
  opacity: 0;
}
.checklist li .checklist-actions .link:hover {
  border-bottom-color: rgba(102, 204, 128, 0.75);
}
.checklist li:hover {
  background-color: #F8F8FA;
  box-shadow: 15px 0 0 #F8F8FA, -15px 0 0 #F8F8FA;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
}
.checklist li:hover .link {
  opacity: 1;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
}
/* ==========================================================================
 Badge
 ========================================================================== */
.badge {
  position: absolute;
  top: -2px;
  left: 100%;
  margin-left: 10px;
  display: block;
  font-size: 10px;
  line-height: 8px;
  padding: 3px 5px;
  border: 1px solid #F29D49;
  color: #F29D49;
  border-radius: 3px;
  font-weight: 700;
  white-space: nowrap;
}
.badge.inactive {
  border-color: #D5D6DD;
  color: #D5D6DD;
}
.badge.solid {
  background-color: #F29D49;
  color: #fff;
}
/* ==========================================================================
 Editable Content
 ========================================================================== */
[contenteditable="true"] {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
}
[contenteditable="true"]:hover {
  box-shadow: inset 0 0 0 1px #D5D6DD;
}
/* ==========================================================================
 Global
 ========================================================================== */
html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Oxygen', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  color: #3C3C47;
}
::-moz-selection {
  background: #66CC80;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #66CC80;
  color: #fff;
  text-shadow: none;
}
/* ==========================================================================
 Welcome
 ========================================================================== */
.welcome {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.welcome .logo {
  height: 44px;
}
.welcome .logo svg path {
  fill: #66CC80;
}
.welcome .slogan {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  margin: 30px 0 40px 0;
}
.welcome .actions {
  padding-bottom: 30px;
}
.welcome .logo,
.welcome .slogan,
.welcome .actions,
.welcome .login-buttons {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 1;
}
.welcome .logo.hide,
.welcome .slogan.hide,
.welcome .actions.hide,
.welcome .login-buttons.hide {
  opacity: 0;
}
.welcome .login-buttons {
  display: none;
}
.welcome .login-buttons .button {
  margin-bottom: 30px;
  display: block;
  width: 300px;
}
/* ==========================================================================
 Header (Sidebar)
 ========================================================================== */
header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  border-right: 1px #F0F0F4 solid;
}
header .logo {
  padding: 30px 0 30px 30px;
}
header .logo svg path {
  fill: #66CC80;
}
header ul.menu {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header ul.menu li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  display: block;
  line-height: 12px;
  padding: 14px 30px;
  color: #898A9B;
  cursor: pointer;
  background-color: #fff;
  box-shadow: inset 0 0 0 #66CC80;
  -webkit-transition: 0.3s background-color;
  -moz-transition: 0.3s background-color;
  -o-transition: 0.3s background-color;
  transition: 0.3s background-color;
}
header ul.menu li a.selected {
  color: #3C3C47;
  font-weight: 700;
  box-shadow: inset -2px 0 0 #66CC80, 1px 0 0 #66CC80;
}
header ul.menu li a:hover {
  background-color: #F8F8FA;
  -webkit-transition: 0.1s background-color;
  -moz-transition: 0.1s background-color;
  -o-transition: 0.1s background-color;
  transition: 0.1s background-color;
}
header .settings {
  -webkit-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
  height: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
}
header .settings .settings-icon {
  cursor: pointer;
  display: block;
}
header .settings .settings-icon svg path {
  fill: #BDBDC8;
  -webkit-transition: 0.3s fill;
  -moz-transition: 0.3s fill;
  -o-transition: 0.3s fill;
  transition: 0.3s fill;
}
header .settings .settings-icon:hover svg path {
  fill: #898A9B;
  -webkit-transition: 0.1s fill;
  -moz-transition: 0.1s fill;
  -o-transition: 0.1s fill;
  transition: 0.1s fill;
}
/* ==========================================================================
 Main
 ========================================================================== */
main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  padding: 60px;
}
main.empty {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 60px 60px 60px 60px;
}
main.tiles {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 60px 60px 60px 60px;
  overflow: auto;
}
main.content {
  display: block;
  padding: 30px 60px 30px 60px;
  overflow: auto;
}
main .intro {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 40px;
}
main .actions {
  padding-bottom: 30px;
}
main .nav {
  margin-bottom: 45px;
}
main .nav a {
  line-height: 12px;
  color: #66CC80;
  cursor: pointer;
  font-weight: 700;
  border-bottom: 2px solid rgba(102, 204, 128, 0.15);
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  margin-right: 30px;
}
main .nav a.delete {
  color: #BDBDC8;
  border-bottom-color: #F0F0F4;
}
main .nav a:hover {
  border-bottom-color: rgba(102, 204, 128, 0.75);
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
}
main .nav a:hover.delete {
  color: #E1645A;
  border-bottom-color: rgba(225, 100, 90, 0.75);
}
main .headline {
  font-weight: 300;
  font-size: 32px;
  line-height: 24px;
  margin-bottom: 25px;
}
main .selections {
  position: relative;
  margin-bottom: 45px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 2;
}
main .selections .dropdown {
  margin-right: 25px;
}
main .required-documents {
  padding-bottom: 30px;
  border-bottom: 1px solid #F0F0F4;
  margin-bottom: 30px;
}
main .required-documents .title {
  line-height: 12px;
  font-weight: 700;
  margin-bottom: 15px;
}
main .required-documents .sub-title {
  line-height: 12px;
  color: #BDBDC8;
  margin-bottom: 20px;
}
main .application-form {
  padding-bottom: 30px;
}
main .application-form .title {
  line-height: 12px;
  font-weight: 700;
  margin-bottom: 15px;
}
main .application-form .sub-title {
  line-height: 12px;
  color: #BDBDC8;
  margin-bottom: 30px;
}
main .application-form ul.form-inputs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
main .application-form ul.form-inputs li {
  position: relative;
  width: calc(50% - 15px);
}
/* ==========================================================================
 Print Bucket
 ========================================================================== */
.print-bucket {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  border-left: 1px #F0F0F4 solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.print-bucket .header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 72px;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 1px solid #F0F0F4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.print-bucket .header .title {
  line-height: 12px;
  font-weight: 700;
}
.print-bucket .header .number-bubble {
  padding: 4px 6px;
  line-height: 9px;
  font-size: 12px;
  background-color: #F29D49;
  color: #fff;
  font-weight: 700;
  border-radius: 3px;
}
.print-bucket ul.file-list {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  padding-top: 16px;
  overflow-y: auto;
}
.print-bucket ul.file-list li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  padding: 14px 30px;
  line-height: 12px;
  width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.print-bucket ul.file-list li.hide {
  opacity: 0;
}
.print-bucket ul.file-list li .file-name {
  position: relative;
}
.print-bucket ul.file-list li .close-button {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  margin-top: -1px;
  text-align: right;
}
.print-bucket ul.file-list li .close-button svg {
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.print-bucket ul.file-list li .close-button svg polygon {
  fill: #BDBDC8;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.print-bucket ul.file-list li .close-button svg:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.print-bucket ul.file-list li .close-button svg:hover polygon {
  fill: #898A9B;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
}
.print-bucket .footer {
  padding: 30px;
}
.print-bucket .footer .button {
  width: 100%;
}
/* ==========================================================================
 Media Queries
 ========================================================================== */
