{% extends "console_base.html" %}



{% block content %}

<div class="grid_list">
	<a href='/application/choose'>
		<img class="application_default" src="/static/svg/new_application.svg">
	</a>

	{% for item in applications %}
		<div class="application_wrapper" id="application_{{item.id}}">
		  	<a href="{% url 'application_detail' application_id=item.id %}">
		  		<div style="height:102px;">
					<img id="icon_{{item.id}}" class="application_icon" src="/static/img/file_icon.png"></img>
				</div>
				<div class="application_alias" >{{item.alias_display}}</div>
				<!-- <div class="application_progress">30% completed</div> -->
		  	</a>
		</div>
	{% endfor %}
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
		$( "div.application_wrapper" )
		  .on( "mouseenter", function() {
			var obj = document.getElementById(this.id.replace('application', 'icon'));
			obj.setAttribute('src', '/static/img/file_icon_hover.png');
		  })
		  .on( "mouseleave", function() {
			var obj = document.getElementById(this.id.replace('application', 'icon'));
			obj.setAttribute('src', '/static/img/file_icon.png');
		  })
	 </script>

{% endblock %}
