<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <style>
    .center {
      text-align: center;
    }

    .first {
      margin-top: 200px;
      margin-bottom: 30px;
    }

    .footer {
      width:100%;
      height:40px;
      position:absolute;
      bottom:0;
      left:0;
      font-family: "Oxygen";
      font-size: 16px;
      color: #BDBDC8;
      font-weight: regular;
      letter-spacing: 0px;
      line-height: 12px;
    }

    #form {
      cursor: pointer;
    }

  </style>
</head>
<body>

<div class="center first">
{% include 'language_switch.html' %}

{% block content %}
{% endblock %}
</div>

  <div class="footer center">
      Google © 2016
  </div>
</body>

</html>