{% load staticfiles %}
{% load i18n %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>ROME</title>
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- <link rel="icon" sizes="192x192" href="images/android-desktop.png"> -->
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <!-- <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png"> -->
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <!-- <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png"> -->
    <meta name="msapplication-TileColor" content="#3372DF">
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static "material.min.css" %}" type="text/css" />

    {% block head %}{% endblock %}
</head>

<body>
    {% include 'language_switch.html' %}

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">
                <img src="/static/img/logo.png" alt="" style="height: 30px">
            </span>
            <div class="mdl-layout-title">
                <!-- <img src="{{ user_extra_data.picture }}" class="demo-avatar"> -->
                <span> {{ request.user.first_name}} </span>
            </div>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link {% if 'application' in request.path or 'fill' in request.path %}active{% endif %}" href="/applications">Applications</a>
                <a class="mdl-navigation__link {% if 'profile' in request.path %}active{% endif %}" href="/profiles">Profiles</a>
     <!--            <a class="mdl-navigation__link {% if 'document' in request.path %}active{% endif %}" href="/documents">Documents</a>
                <a class="mdl-navigation__link {% if 'template' in request.path or 'new' in request.path %}active{% endif %}" href="/templates">Templates</a> -->
            </nav>
            <div class="drawer-settings">
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" style="color:#BDBDC8;" role="presentation">settings</i>
                    <span class="visuallyhidden">Accounts</span>
                </button>
                <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                    <a class="mdl-menu__item" href="/accounts/logout">
                        <li>Logout</li>
                    </a>
                </ul>
            </div>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content" style="margin-top:30px;">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
    <div id="overlay" style="display:none;">
        <div id="loader">
            <div id="box"></div>
            <div id="hill"></div>
        </div>
    </div>

    <script src="{% static "js/material.min.js" %}"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/semantic.min.js" %}"></script>

    {% block script %} 
    {% endblock %}
    <script type="text/javascript">
        
    </script>
</body>

</html>
