{% extends "console_base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
<style>
	.file_list {
		padding-top: 30px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.upload_file_item {
		height: 100px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.file_item {
		height: 100px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.file_icon {
		height: 75px;
	}

	.file_icon_container {
		padding: 5px;
		float: left;
	}
	.file_info_container {
		float: left;
		padding-left: 20px;
		padding-top: 15px;
		font-size: 16px;
	}

	.upload_container {
		float: left;
		padding-top: 10px;
		padding-left: 20px;
	}

	.upload_document_click {
		display: none;
	}

	.document_name_label {
		font-size: 18px;
		text-aligh: left;
		color: black;
	}

	.url_label {
		padding: 10px;
		color: gray;
	}

	.file_item_hover:hover .control_container {
    	visibility: visible;
    }

	.control_container {
		float:right;
		padding-right: 50px;
		padding-top: 25px;
		visibility: hidden;
	}
	.control_button {
		margin-left:25px;
		color: #66CC80;
	}
</style>

{% endblock %}
{% block content %}

{% if records %}

<div class="file_list">
	<div class="upload_file_item">
		<div class="file_icon_container">
			<img class="file_icon" src="/static/img/pdf_icon.png"></img>
		</div>

		<div class="upload_container">
			<button id="upload_document" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-top: 15px">Upload Document</button>   
			<div class="upload_document_click">   
				<div class="ui input" style="padding-bottom: 10px;">
				 	<input type="text" placeholder="document_name" name="document_name" />
				</div>
				
				<div>
					<input type="file" name="document_file" />
					<input type="submit" value="Upload" />
				</div>
			</div>
		</div>
	</div>

	{% for item in records %}
	<div class="file_item file_item_hover" id="application_{{item.id}}">
	  	<a href="{{item.record.file.url}}">
	  		<div class="file_icon_container">
	  			<img id="icon_{{item.id}}" class="file_icon" src="/static/img/pdf_icon.png"></img>
			</div>
			<div class="file_info_container ">
				<div class="document_name_label" >{{item.field.description}}</div>
				<div class="url_label">
					<span>/document/{{item.id}}.pdf</span><span style="padding-left: 20px">Uploaded on Aug 04, 2016</span>
				</div>
			</div>
			<div class="control_container">
				<a class="control_button">View</a>
				<a class="control_button">Reupload</a>
				<a class="control_button">Delete</a>
				<!-- <div class="application_progress">30% completed</div> -->
			</div>

	  	</a>
	</div>
	{% endfor %}
</div>
{% else %}
<div style="height: 680px; margin-top: -30px; display: flex; justify-content: center; align-items: center">
	<div style="text-align:center; padding:10px">
		<span style="font-size: 25px">You haven't uploaded any documents</span><br/>
		<button id="upload_document" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-top:50px">Upload Document</button>
	</div>
</div>
{% endif %}

{% endblock %}

{% block script %}
    <script type="text/javascript">

    $( "div.upload_file_item" )
	  .on( "mouseenter", function() {
		var obj = document.getElementById(this.id.replace('application', 'icon'));
		if (obj) {
			obj.setAttribute('src', '/static/img/file_icon_hover.png');
		}
	  })
	  .on( "mouseleave", function() {
		var obj = document.getElementById(this.id.replace('application', 'icon'));
		if (obj) {
			obj.setAttribute('src', '/static/img/pdf_icon.png');
		}
	  })

	$( "div.file_item" )
	  .on( "mouseenter", function() {
		var obj = document.getElementById(this.id.replace('application', 'icon'));
		if (obj) {
			obj.setAttribute('src', '/static/img/file_icon_hover.png');
		}
	  })
	  .on( "mouseleave", function() {
		var obj = document.getElementById(this.id.replace('application', 'icon'));
		if (obj) {
			obj.setAttribute('src', '/static/img/pdf_icon.png');
		}
	  })

	$("#upload_document").click(function() {
		var uploadDocument = $("#upload_document");
		uploadDocument.css('display','none');
		var uploadDocumentClick = $(".upload_document_click");
		uploadDocumentClick.css('display','inline');
	});

	 </script>

{% endblock %}
