{% extends "console_base.html" %}
{% load mytags %}
{% load staticfiles %}


{% block head %}

<link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">

	<link rel="stylesheet" href="{% static "css/loading.css" %}" type="text/css" />
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }

    .checklist_detail {
    	visibility: hidden;
    	float:right;
    	margin-left: 25px
    }

    .required_document:hover .checklist_detail{
    	visibility: visible;
    }
	
	.required_document {
		height: 35px;
	}

	.title_for_content {
		font-weight: bold;
	}
	.counter {
		font-size: 16px;
		color: #BDBDC8;
		padding-top: 5px;
		font-weight: 400;
	}

	#application_form_header {
	}

	.float_right {
		float: right;
	}

	.cell > .float_right {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);	
	}
    .upload_label {
        cursor: pointer;
        color: #66CC80;
    }

    .file_upload {
        display: none;
    }


	.cell {
		font-size: 16px;
	    height: 40px;
	    width: 100%;
	}

	.cell > span {
	    line-height: 40px;
	}

	.save_button_container {
		position: fixed;
	    width: 100%;
	    height: 60px;
	    bottom: 0px;
	    background-color: #FFFFFF;
	}
	
	.property_container {
		width: 50%;
		float: left;
		display: flex;
		white-space: nowrap;
		font-size: 16px;
		padding-right: 20px;
	}

	.property_input {
		color: #66CC80;
		flex-grow: 100;
	}

	#preview_print {
		margin: 10px 20px 10px 20px;
		width: 230px;
	}

	.ui.label.copy_label {
		position: relative;
	    -webkit-transform: translateY(-4%);
	    margin-left: 10px;
	    background-color: transparent;
		border: 1px solid #F29D49;
		color: #F29D49;
	}

    </style>
  {% endblock %}

{% block content %}

<div style="width:calc(100% - 271px);">
	<div class="detail_info" style="padding:20px;margin:auto;float:left">
		<h1 class="ui header">
			<div class="ui transparent input" style="width: 100%">
			  	<input type="text" placeholder="Application name..." value="{{ application.alias }}">
			</div>
		</h1>
		
		<div>
		<div class="ui selection dropdown">
		  	<input type="hidden" name="Select a person" value={{application.profile.alias}}>
		  	<i class="dropdown icon"></i>
		  	<div class="default text">Select a person</div>
		  	<div class="menu">
			  	{% for item in profiles %}
				    <div class="item {% if item.id == application.profile.id %}active selected{% endif %}" 	 data-value="0" >
				    	For {{ item.alias }}
				    </div>
				{% endfor %}
			</div>
		</div>
		<span id='saving_label' style="padding-left: 20px; color: #CCC"></span>
		</div>

		<div class="ui header ">
			<div class="title_for_content">Required Documents</div>
			<div class="counter"><span id="checked_number">3</span><span>/</span><span id="total_number">8</span> Checked</div>
		</div>
		
		<form id="form">
			{% csrf_token %}

			{% for item in checklist_required_fields %}
				<label class="mdl-checkbox mdl-js-checkbox required_document" for="field_{{item.field.id}}">
				    <input type="checkbox" id="field_{{item.field.id}}" 
				    	name="field_{{item.field.id}}"
				    	{% if records|access:item.field.id == 'on' %}checked{% endif %} 
				    	class="mdl-checkbox__input form_target" >
				   	<div style="display:inline">
				    	<span class="mdl-checkbox__label">{{ item.field.description }}</span><span>

				    	{% if item.number_of_copy != 1 %}
				    	
				    	<div class="ui label copy_label">
		        			<span class="filled_content_count"><span class="number_of_copy">{{ item.number_of_copy }}<span> COPIES</span>
			    		</div>

				    	{% endif %} 

				    	<span>
	                    <span class="checklist_detail " id="upload_{{item.field.id}}">
	                        {% if files|access:item.field.id %}
	                        <a href="{{files|access:item.field.id}}" target="_blank" style="margin-right:20px">View</a>
	                        <label class="upload_label" id="upload_label_{{item.field.id}}" for="file_{{item.field.id}}">Reupload</label>
	                        <input type="file" class="file_upload" id="file_{{item.field.id}}" />
	                        {% else %}
	                        <label class="upload_label" id="upload_label_{{item.field.id}}" for="file_{{item.field.id}}"> Upload</label>
	                        <input type="file" class="file_upload" id="file_{{item.field.id}}" />
	                        {% endif %}
	                    </span>
				    </div>
				</label>
			{% endfor %}

			<div id="extra_content" class="ui accordion">
				<div class="title" style="color:#66CC80">
					<i class="dropdown icon"></i>
					Show optional documents
				</div>
			    <div class="content">
					{% for item in checklist_optional_fields %}
						 <label class="mdl-checkbox mdl-js-checkbox required_document" for="field_{{item.field.id}}">
						    <input type="checkbox" id="field_{{item.field.id}}" class="mdl-checkbox__input form_target" >
						    <div style="display:inline">
						    	<span class="mdl-checkbox__label ">{{ item.field.description }} </span>
			                    <span class="checklist_detail" id="upload_{{item.field.id}}">
			                        {% if files|access:item.field.id %}
			                        <a href="{{files|access:item.field.id}}" target="_blank">View</a>
			                        <label class="upload_label" id="upload_label_{{item.field.id}}" for="file_{{item.field.id}}">Reupload</label>
			                        <input type="file" class="file_upload" id="file_{{item.field.id}}" />
			                        {% else %}
			                        <label class="upload_label" id="upload_label_{{item.field.id}}" for="file_{{item.field.id}}">Upload</label>
			                        <input type="file" class="file_upload" id="file_{{item.field.id}}" />
			                        {% endif %}
			                    </span>
							</div>
						 </label>
					{% endfor %}
				</div>
			</div>
			<div class="ui section divider"></div>
			<div class="ui header" id='application_form_header'>
				<div class="title_for_content">Application Form</div>
				<div class="counter"><span id="filled_content_count_1">80%</span><span> Completed</span></div>
			</div>

			<input type="hidden" name="application_id" value={{application.id}}>
			{% for form in forms %}
				{% for item in form %}
					{% include "sub_field.html" with field=item.field records=records %}
				{% endfor %}
			{% endfor %}
		</form>
	</div>
</div>

<div style="position:fixed; width:270px; right:0px; top: 0px; border-left: 1px solid #F0F0F4; height: 100%">
	<div>
		<div class="ui header" style="width: 100%; padding: 60px 20px 0 20px;">
			Files to Print
			<div class="ui label float_right">
			    <i class="file outline icon"></i> <span id="print_file_count">23</span>
			</div>
			<div class="ui section divider"></div>
		</div>
		<div class="side_bar_list" style="padding-left: 20px; padding-right: 20px">
			<div class="cell"><span>Documents Checklist</span></div>
			<div class="cell">
				<span>Application Form</span>
				<div class="ui label float_right">
		        	<span id="filled_content_count_2">80%</span>
			    </div>
			</div>
		</div>

		<div class="save_button_container">
			<button id="preview_print" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="bottom:0px;">Preview & Print</button>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}

    <script type="text/javascript">

	$('.detail_info .ui.dropdown').dropdown({
	    allowAdditions: true
	});

	$('#extra_content')
	.accordion({
		selector: {
		  trigger: '.title'
		}
	})

	var saving = false;
	function save(callback) {
		if (saving == true) {
			return;
		}
		else {
			saving = true;
		}
		var formData = $('#form').serialize();
		// include unchecked checkboxes. use filter to only include unchecked boxes.
		$.each($('form input[type=checkbox]')
		    .filter(function(idx){
		        return $(this).prop('checked') === false
		    }),
		    function(idx, el){
		        // attach matched element names to the formData with a chosen value.
		        var emptyVal = "off";
		        formData += '&' + $(el).attr('name') + '=' + emptyVal;
		    }
		)

		$('#saving_label').text('saving...').animate({opacity: 1}, 700);;
		$.post( "/autosave", formData)
		  .done(function( data ) {
				$('#saving_label').text('saved').delay(1000).animate({opacity: 0}, 700);
				saving = false;
				if (callback) {
					callback();
				}
		  });
	}

	$(".form_target" ).change(function() {
		save();
	})

	// setInterval(save, 10000);

	$("#preview_print").click(function() {
		var dialog = document.querySelector('dialog');
		$('#overlay').show();

	    $.ajax({
	        type: 'GET',
	        url: '/preview_process/{{application.id}}',
	        beforeSend: function() {
	            
	        },
	        success: function(data) {
	             window.location.href = "/preview/{{application.id}}";
	        },
	        cache: false
	    });
	});
    
    $("#form input[type=file]").change(function() {
        var fileId = $(this).attr('id');
        var formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        formData.append('upload_type', 'document_with_field');
        formData.append('application_id', {{application.id}});
        formData.append('field_id', fileId.substr(5));
        formData.append('file', $(this).prop('files')[0]);
        var old_label = "Upload";
        if (($('#upload_' + fileId.substr(5)).text()).indexOf("View") != -1) {
            old_label = "Reupload";
        }
        $('#upload_label_' + fileId.substr(5)).text('Uploading');
        $.ajax({
            type: 'POST',
            url: '/upload',
            processData: false,
            contentType: false,
            dataType: 'json',
            data: formData,
            success: function(data) {
                $('#upload_' + fileId.substr(5)).html(
		    	    '<a href=' + data['url'] + ' target="_blank" style="margin-right:20px">View</a>' +
                    '<label class="upload_label" id="upload_label_' + fileId.substr(5) + '" for="file_' + fileId.substr(5) + '">Reupload</label>' +
                    '<input type="file" class="file_upload" id="file_' + fileId.substr(5) + '"/>'
                );
            },
            error: function(data) {
                $('#upload_label_' + fileId.substr(5)).text(old_label);
            }
        });
    });

    function closeButtonCallback(checkItem, sideBarItem) {
    	var checkItem_ = checkItem;
    	var sideBarItem_ = sideBarItem;
    	return function() {
			$(checkItem_).parent().removeClass('is-checked');
			$(sideBarItem_).remove();
    	}
    }

    var checkedCount = 0;
    var checkedTotoalCount = 0;
    var applicationCount = 0;
    var applicationTotalCount = 0;
    var fileToPrint = 0;

    function updateSideBarItem(item, name) {
		if (item.checked) {
			var text = $('#'+ item.id).parent().find('.mdl-checkbox__label').text();
			
			var sideBarItem = $('<div class="cell"><span>' + text + '</span></div>');
			var closeButton = $('<span style="float:right;color:#D5D5D5" >&#10005;</span>')

			var copy_number = $(item).parent().find('.number_of_copy');
			if (copy_number.length != 0) {
				var copy_number = parseInt(copy_number.contents()[0].textContent);
				var copy_label = $('<div class="ui label copy_label"><span class="filled_content_count"><span class="number_of_copy">' + copy_number + '<span> COPIES</span></div>');
				copy_label.appendTo(sideBarItem);
			}


			closeButton.on('click', closeButtonCallback(item, sideBarItem))
			closeButton.appendTo(sideBarItem);

			$('.side_bar_list').append(sideBarItem);

			item.sideBarItem = sideBarItem;

		}
		else {
			if (item.sideBarItem) {
				item.sideBarItem.remove();
			}
		}

		checkedCount = 0;
		fileToPrint = 1;
		$("input[type='checkbox']").each(function() {
			if (this.checked) {
				checkedCount += 1;

				var copy_number = $(this).parent().find('.number_of_copy');
				if (copy_number.length != 0) {
					fileToPrint += parseInt(copy_number.contents()[0].textContent);
				}
				else {
					fileToPrint += 1;
				}
			}
		});

		$('#print_file_count').text(fileToPrint);
		$('#checked_number').text(checkedCount);
    }

	function callback(name) {
		var a = name;
		return function() {
			updateSideBarItem(this, name);
		}
	};

	$("input[type='checkbox']").each(function() {
		var name=this.id;
		$('#' + name).change(callback(name));

		updateSideBarItem(document.getElementById(name), name);
	});
	
	checkedTotoalCount = $("input[type='checkbox']").length;
	applicationTotalCount = $(".property_container").length;
	
	$('#total_number').text(checkedTotoalCount);

	applicationCount = applicationTotalCount;

	$("input[type='text']").each(function() {
		applicationCount = 0;
		$("input[type='text']").each(function() {
			if (this.value.length != 0) {
				applicationCount += 1;
			}
		});

		$(this).change(function() {
			applicationCount = 0;
			$("input[type='text']").each(function() {
				if (this.value.length != 0) {
					applicationCount += 1;
				}
			});
			console.log(applicationCount);

			if (applicationTotalCount == 0) {
				$('#filled_content_count_1').text('100%');
				$('#filled_content_count_2').text('100%');
			}
			$('#filled_content_count_1').text(Math.floor(applicationCount/applicationTotalCount * 100) + '%');
			$('#filled_content_count_2').text(Math.floor(applicationCount/applicationTotalCount * 100) + '%');
		});

		if (applicationTotalCount == 0) {
			$('#filled_content_count_1').text('100%');
			$('#filled_content_count_2').text('100%');
		}
		$('#filled_content_count_1').text(Math.floor(applicationCount/applicationTotalCount * 100) + '%');
		$('#filled_content_count_2').text(Math.floor(applicationCount/applicationTotalCount * 100) + '%');
	});

    </script>

{% endblock %}
