 <form id="form">
	<input type="hidden" name="application_id" value={{application.id}}>
	{% include pdf_html %}
</form>

 <script src="/static/js/jquery.min.js"></script>
 <script type="text/javascript">

    // Fill form with record data
    records = {{ records|safe }};
    window.onload = function() {
    
    	inputtexts = document.getElementsByClassName('it');
    	for (var i in inputtexts) {
    		field = inputtexts[i];
    		if (!field.name) {
    			continue;
    		}
    		var id = field.name.split(':')[0];
    		if (!records[id]) {
    			continue;
    		}
    		if (records[id].type == 'text') {
    			field.value = records[id].value;
    		} else if (records[id].type == 'date') {
    			var format = field.name.split(':')[1];
    			date = records[id].value.split('-');
    			if (format == 'yyyy') {
    				field.value = date[0];
    			} else if (format == 'mm') {
    				field.value = date[1];
    			} else if (format == 'dd') {
    				field.value = date[2];
    			}
    		} else if (records[id].type == 'unknown') {
    			field.value = records[id].value;
    		} 
    	}
    };

 </script>