{% extends "console_base_for_form.html" %}
{% load mytags %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">

	<link rel="stylesheet" href="{% static "css/loading.css" %}" type="text/css" />
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }

    .checklist_detail {
    	visibility: hidden;
    	float:right;
    	margin-left: 25px
    }

    .required_document:hover .checklist_detail{
    	visibility: visible;
    }
	
	.required_document {
		height: 35px;
	}

	.title_for_content {
		font-weight: bold;
	}
	.counter {
		font-size: 16px;
		color: #BDBDC8;
		padding-top: 5px;
		font-weight: 400;
	}

	#application_form_header {
	}

	.float_right {
		float: right;
	}

	.cell > .float_right {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);	
	}
    .upload_label {
        cursor: pointer;
        color: #66CC80;
    }

    .file_upload {
        display: none;
    }


	.cell {
		font-size: 16px;
	    height: 40px;
	    width: 100%;
	}

	.cell > span {
	    line-height: 40px;
	}

	.save_button_container {
		position: fixed;
	    width: 100%;
	    height: 60px;
	    bottom: 0px;
	    background-color: #FFFFFF;
	}
	
	.property_container {
		width: 50%;
		float: left;
		display: flex;
		white-space: nowrap;
		font-size: 16px;
		padding-right: 20px;
	}

	.property_input {
		color: #66CC80;
		flex-grow: 100;
	}

	#preview_print {
		margin: 10px 20px 10px 20px;
		width: 230px;
	}

	.ui.label.copy_label {
		position: relative;
	    -webkit-transform: translateY(-4%);
	    margin-left: 10px;
	    background-color: transparent;
		border: 1px solid #F29D49;
		color: #F29D49;
	}

    </style>
  {% endblock %}

{% block content %}

<div style="width:calc(100% - 271px);">
	<div class="detail_info" style="padding:20px;margin:auto;float:left">
		<h1 class="ui header">
			<div class="ui transparent input" style="width: 100%">
			  	<input id="application_alias" type="text" placeholder="Application name..." value="{{ application.alias }}">
			</div>
		</h1>
		
		<div>
			<div class="ui selection dropdown">
			  	<input type="hidden" id="current_profile" value="{{ application.profile.id }}">
			  	<i class="dropdown icon"></i>
			  	<div class="default text">Select a person</div>
			  	<div class="menu">
				  	{% for item in profiles %}
					    <div class="item" data-value="{{item.id}}" >
					    	For {{ item.alias }}
					    </div>
					{% endfor %}
				</div>
			</div>
			<span id='saving_label' style="padding-left: 20px; color: #CCC"></span>
		</div>

			<button id="save" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="bottom:0px;">{% trans 'Save' %} </button>
			<button id="preview_print" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="bottom:0px;">{% trans 'Preview & Print' %} </button>
			<button id="share" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="bottom:0px;">{% trans 'Share' %} </button>

  <dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">分享申请表</h4>
    <div class="mdl-dialog__content">
      <p>
      	<div id="waiting">
		<svg width='30px' height='30px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-default"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(0 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(30 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.08333333333333333s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(60 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.16666666666666666s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(90 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.25s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(120 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.3333333333333333s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(150 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.4166666666666667s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(180 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(210 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5833333333333334s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(240 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.6666666666666666s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(270 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.75s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(300 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.8333333333333334s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(330 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.9166666666666666s' repeatCount='indefinite'/></rect></svg>
		正在创建链接，请稍后
		</div>
		<div id="finish" style="display:none;">
			(链接24小时有效)
			<input id="link" value="">
			<button id="copy_link" data-clipboard-target="#link">
			    <img src="{% static "svg/clippy.svg" %}" width="15px" height="15px" alt="复制链接">
			</button>			
			<p>扫一扫发送链接给朋友</p>
		</div>
      	<div id="qrcode" style="width:100px;"></div>
      	

      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button close">关闭</button>
    </div>
  </dialog>



		 <form id="form">
			<input type="hidden" name="application_id" value={{application.id}}>
			{% csrf_token %}
			{% include pdf_html %}
		</form>

		

		</form>
	</div>
</div>


{% endblock %}

{% block script %}
    <script src="{% static "js/qrcode.js" %}"></script>
    <script src="{% static "js/clipboard.min.js" %}"></script>
    
    <script type="text/javascript">


   // Populate form with record data
   
    window.onload = function() {
    	records = {{ records|safe }};
		// renderByIterateRecords(records);
		renderRecords(records);
    };

    function renderRecords(records) {
    	for (var field in records) {
			value = records[field];
			$('[name="'+ field + '"]').each(function(i, obj) {
			    if (obj.className == 'it') {
			    	obj.value = value;
			    } else if ($(obj).hasClass('ir')) {
			    	obj.className = 'ir ' + value;
			    }
			});
		}
    }

    // Deprecate
    function renderByIterateHtml() {
    	elements = $('.it, .ir');
    	for (var i=0; i < elements.length; i++) {
    		field = elements[i];

    		// E.g field_24:dd for datetime in dd format
    		// E.g field_15-divorced for choice of marraige status 
    		var rich_format_name = $(field).attr('name').split(/:|-/);
    		id = rich_format_name[0];  		
    		if (!records[id] && !records[$(field).attr('name')]) {
    			continue;
    		}

    		if (records[$(field).attr('name')] && field.className == 'ir') {
    			// Unknown checkbox field
    			field.className += " checked";
    		} else if (records[id].type == 'text') {
    			field.value = records[id].value;
    		} else if (records[id].type == 'date') {
    			var format = rich_format_name[1];
    			var date = records[id].value.split('-');
    			if (format == 'yyyy') {
    				field.value = date[0] || '';
    			} else if (format == 'mm') {
    				field.value = date[1] || '';
    			} else if (format == 'dd') {
    				field.value = date[2] || '';
    			}
    		} else if (records[id].type == 'single_choice') {
    			var option = rich_format_name[1];
    			if (records[id].value == option) {
    				field.className += " checked";
    			}
    		} else if (field.className == 'it' && records[id].type == 'unknown') {
    			// Unknown textbox field
    			field.value = records[id].value;
    		}
    	}
    }

    // Deprecate
	function renderByIterateRecords(records) {
		console.log(records);

		for (var field in records) {
			record = records[field];
			if (record.type == 'text') {
				$('input[name^="'+ field + '"]').each(function(i, obj) {
					if (!record.value) {
						obj.value = ''
					}

					var name = $(obj).attr('name');
					var language = '{{language}}';
					if (name.split(':').length > 1) {
						language = name.split(':')[1];
					}
				    obj.value = record.value[language];
				});
			} else if (record.type == 'digit') {
				$('input[name="'+ field + '"]').each(function(i, obj) {
				    obj.value = record.value
				});
			} else if (record.type == 'single_choice') {
				$('[name="'+ field + ':' + record.value + '"]').each(function(i, obj) {
				    obj.click();
				});
			} else if (record.type == 'date') {
				$('input[name^="'+ field + '"]').each(function(i, obj) {
					var name = $(obj).attr('name');
					var format = name.split(':')[1];
    				var date = record.value.split('-');
	    			if (format == 'yyyy') {
	    				obj.value = date[0] || '';
	    			} else if (format == 'mm') {
	    				obj.value = date[1] || '';
	    			} else if (format == 'dd') {
	    				obj.value = date[2] || '';
	    			}  				
				});
			} else if (record.type == 'unknown') {
				$('[name="'+ field + '"]').each(function(i, obj) {
				    if (obj.className == 'it') {
				    	obj.value = record.value;
				    } else if (obj.className == 'ir') {
				    	obj.click();
				    }
				});
			}
		}
	}


    // Covert checkbox with same field id as radio box
	$('.ir').click(function() {
		if ($(this).hasClass('checked')) {
			return;
		}
		
		id = $(this).attr('name').split(':')[0];
		 $('div[name^="' + id + '"]').each(function (i, el) {
	     	$(el).removeClass('checked');
	 	 });
	 	// No need of addtional check, this is handled by pdf2htmlEX.js
	 	// $(this).addClass('checked');
	});



	$('.detail_info .ui.dropdown').dropdown({
	    allowAdditions: true
	});

	$('#extra_content')
	.accordion({
		selector: {
		  trigger: '.title'
		}
	})

	var saving = false;
	function save(callback) {
		if (saving == true) {
			return;
		}
		else {
			saving = true;
		}
		var formData = $('#form').serialize();
		$.each($('.ir'), 
			function(idx, el){
		        // attach matched element names to the formData with a chosen value.
		        if ($(el).hasClass('checked')) {
		        	formData += '&' + $(el).attr('name') + '=checked';
		        } else {
		        	formData += '&' + $(el).attr('name') + '=';
		        }
		    }
		)
		formData += '&application_alias=' + $('#application_alias').val();
		$('#saving_label').text('saving...').animate({opacity: 1}, 700);;
		$.post( "/autosave", formData)
		  .done(function( data ) {
				$('#saving_label').text('saved').delay(1000).animate({opacity: 0}, 700);
				saving = false;
				if (callback) {
					callback();
				}
		  });
	}

    profile_records = {{ profile_records|safe }};
	$("#current_profile").change(function() {
		var profile = $('#current_profile').val();
		var profile_data = profile_records[profile];
		console.log(profile_data);
		renderRecords(profile_data);
	});

	$(".form_target").change(function() {
		save();
	});

	$("#save").click(function() {
		save();
	});

	$("#preview_print").click(function() {
		var dialog = document.querySelector('dialog');
		$('#overlay').show();

	    $.ajax({
	        type: 'GET',
	        url: '/preview_process/{{application.id}}',
	        beforeSend: function() {
	            
	        },
	        success: function(data) {
	             window.location.href = "/preview/{{application.id}}";
	        },
	        error: function(data) {
	        	console.log(data);
	        	$('#overlay').hide();
	        	alert(data.responseText);
	        },
	        cache: false
	    });
	});

	var dialog = document.querySelector('dialog');
	$('#share').click(function() {
	    $.ajax({
	        type: 'POST',
	        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
	        url: "{% url 'application_share_create' application_id=application.id %}",
	        beforeSend: function() {
	        	$('#waiting').show();
	        	$('#finish').hide();
	        	$('#qrcode').empty();
	            dialog.showModal();
	        },
	        success: function(data) {
	        	$('#waiting').hide();
	        	$('#finish').show();
	        	var http = location.protocol;
				var slashes = http.concat("//");
				var host = slashes.concat(window.location.hostname);
				var link = host + '/share/view/'+data;
				$('#link').val(link);
				new QRCode(document.getElementById("qrcode"), {
	        		text: link,
				    width: 100,
				    height: 100,
	        	});	        		
	        },
	        cache: false
	    });
	});
   	dialog.querySelector('.close').addEventListener('click', function() {
      dialog.close();
    });

   var clipboard = new Clipboard('#copy_link');

    </script>

{% endblock %}
