<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ROME - Rock the form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/favicon.png" >
    <!-- http://realfavicongenerator.net to generate favicons for all platform-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700">
    <link rel="stylesheet" href="/static/new_theme/main.css">
    <style type="text/css">
      h2 { width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; } 
      h2 span { background:#fff; padding:0 10px; }
    </style>
  </head>
  <body class="welcome">
    <div class="logo">
     <img src="/static/img/logo.png" alt="" style="height: 40px;"></img>
    </div>
    <div class="slogan">Automatically fill forms and print required documents<br>for your travel visa applications</div>
    <div class="login-buttons" style="display:block;"><a href="{% url 'weixin_login' %}" class="button wechat with-icon">Login with WeChat
        <div class="icon">
          <svg width="40" height="40">
            <path d="M24.1149889,16.5768677 C21.9618634,16.689357 20.089561,17.3420618 18.5694879,18.8166945 C17.0336753,20.3065332 16.3325956,22.1321504 16.5242276,24.3952754 C15.6826475,24.291056 14.9161195,24.1763436 14.1452342,24.1114288 C13.8789947,24.0890199 13.5630464,24.1208548 13.3375342,24.2481055 C12.5889689,24.6704963 11.8713493,25.1473976 11.0207878,25.6790764 C11.1768501,24.9731948 11.2778682,24.3550815 11.4566951,23.7605333 C11.5882142,23.323559 11.527301,23.0803508 11.1247404,22.7957929 C8.54006493,20.9709761 7.45056365,18.24002 8.26591112,15.4284095 C9.02025648,12.827372 10.8727288,11.2499427 13.3898217,10.4276592 C16.8254144,9.30543373 20.6864213,10.450157 22.7755213,13.1778229 C23.5300445,14.1631048 23.9927179,15.2689682 24.1149889,16.5768677 Z M28.9522963,30 C28.2705133,29.6964122 27.6451082,29.2409417 26.9792426,29.1714028 C26.3159558,29.1021307 25.6186999,29.4847723 24.9247342,29.5557339 C22.8109132,29.7719979 20.91718,29.182874 19.3556682,27.7388313 C16.3858613,24.9919578 16.8102084,20.7801444 20.2461568,18.5291131 C23.2999083,16.5284928 27.7784059,17.1954255 29.9314425,19.9713773 C31.8103253,22.3936769 31.5895261,25.6091818 29.2958112,27.6441269 C28.6320797,28.2330729 28.3932289,28.7177107 28.8190877,29.4941093 C28.8976968,29.6374554 28.9066782,29.81895 28.9522963,30 Z M14.2055249,15.7007849 C14.225355,15.1865353 13.7797551,14.7232394 13.2504773,14.7077665 C12.7085722,14.6918491 12.2628833,15.1059698 12.2470548,15.6399606 C12.2310484,16.1811543 12.6449913,16.6148384 13.190809,16.6287106 C13.7319138,16.6424049 14.1855169,16.2277506 14.2055249,15.7007849 Z M19.3756762,14.7074108 C18.8444421,14.7171925 18.3955519,15.1696397 18.4049779,15.6859345 C18.4146706,16.2210813 18.8550241,16.6397372 19.4012864,16.6331568 C19.9489715,16.6265764 20.3643372,16.2034743 20.3591796,15.6570341 C20.3546445,15.1206423 19.9162474,14.6975402 19.3756762,14.7074108 Z M21.1915116,22.4859804 C21.6255515,22.486425 21.9829385,22.146734 21.9993895,21.7180296 C22.0167297,21.2641597 21.6516952,20.8834745 21.1972028,20.8816071 C20.7472455,20.8795618 20.3702952,21.2655825 20.3859459,21.7126942 C20.4007073,22.1398868 20.7605842,22.4854469 21.1915116,22.4859804 Z M26.1944851,20.8833856 C25.7733394,20.8804511 25.4155077,21.2252108 25.3983453,21.6507139 C25.3801158,22.1057398 25.733768,22.4794 26.184081,22.480556 C26.6196325,22.4819788 26.9637698,22.152603 26.9795983,21.7191856 C26.9964939,21.2630926 26.6426639,20.8864979 26.1944851,20.8833856 Z"></path>
          </svg>
        </div></a>

<!--         <a href="./applications-empty.html" class="button facebook with-icon">Login with Facebook
        <div class="icon">
          <svg width="40" height="40">
            <path d="M18.6825651,30 L9.1038379,30 C8.49402644,30 8,29.5056631 8,28.8960845 L8,11.1038379 C8,10.494104 8.49410404,10 9.1038379,10 L26.8960845,10 C27.5056631,10 27.9998448,10.494104 27.9998448,11.1038379 L27.9998448,28.8960845 C27.9998448,29.5057407 27.5055855,30 26.8960845,30 L21.7996034,30 L21.7996034,22.2548978 L24.3992566,22.2548978 L24.7885177,19.236494 L21.7996034,19.236494 L21.7996034,17.3094339 C21.7996034,16.4355364 22.0422708,15.840004 23.2954187,15.840004 L24.8937486,15.8393056 L24.8937486,13.1396211 C24.6173235,13.1028368 23.6685382,13.0206543 22.5647003,13.0206543 C20.2602524,13.0206543 18.6825651,14.4273026 18.6825651,17.0105037 L18.6825651,19.236494 L16.0762381,19.236494 L16.0762381,22.2548978 L18.6825651,22.2548978 L18.6825651,30 Z"></path>
          </svg>
        </div></a>  -->

        <h2><span>OR</span></h2>

<!--     <form id="form" method="POST" action="/accounts/login/">
        {% csrf_token %}
          <input type="text" value="test" id="id_login" name="login" style="display:none;" />
          <input type="password" id="id_password" value="google2016" name="password" style="display:none;" />
        <a href="#" onclick="submitForm();" class="button google with-icon">Login with TestUser
        <div class="icon">
          <svg width="40" height="40">
            <path d="M18,18.5714286 L18,22 L23.6714286,22 C23.4428571,23.47 21.9571429,26.3142857 18,26.3142857 C14.5857143,26.3142857 11.8,23.4871429 11.8,20 C11.8,16.5142857 14.5857143,13.6857143 18,13.6857143 C19.9428571,13.6857143 21.2428571,14.5142857 21.9857143,15.2285714 L24.7,12.6142857 C22.9571429,10.9857143 20.7,10 18,10 C12.4714286,10 8,14.4714286 8,20 C8,25.5285714 12.4714286,30 18,30 C23.7714286,30 27.6014286,25.9428571 27.6014286,20.2285714 C27.6014286,19.5714286 27.5285714,19.0714286 27.4428571,18.5714286 L18,18.5714286 L18,18.5714286 Z"></path>
          </svg>
        </div></a></div>
    </form>

 -->

    <form id="form" method="POST" action="/accounts/login/" >
        {% csrf_token %}
          <input type="text" id="id_login" placeholder="username" name="login"  />
          <input type="password" id="id_password" placeholder="password" name="password"  />
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
        <button type="submit" style="margin-top:10px;" class="button google">LOGIN</a>
    </form>



    <script type="text/javascript">
      function submitForm()
      {
          document.getElementById("form").submit();
      }
    </script>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/new_theme/js/plugins.js"></script>
    <script src="/static/new_theme/js/main.js"></script>
  </body>
</html>