{% load i18n %}

{% get_current_language as LANGUAGE_CODE %} 
{% get_available_languages as LANGUAGES %} 

<form style="position:absolute; right:30px; top:30px; z-index:100" action="/i18n/setlang/" method="post">
        {% csrf_token %}
  <!-- <input name="next" type="hidden" value="" /> -->
  <select name="language">
      {% for lang in LANGUAGES %}
      <option value="{{ lang.0 }}">{{ lang.1 }}</option>
      {% endfor %}
  </select>
<input type="submit" value="Go" />
</form>
