{% extends "console_base.html" %}
{% load mytags %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}

 <dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">New profile</h4>
	<form action="/profile/create/" method="post">
		{% csrf_token %}
	    <div class="mdl-dialog__content">
			  <div class="mdl-textfield mdl-js-textfield">
			    <input class="mdl-textfield__input" type="text" name="alias">
			    <label class="mdl-textfield__label" for="sample1">Enter profile alias...</label>
			  </div>
	    </div>
	    <div class="mdl-dialog__actions">
	      <button type="submit" class="mdl-button">Save</button>
	      <button type="button" class="mdl-button close">Cancel</button>
	    </div>
	</form>
  </dialog>


 <div class="mdl-layout__drawer" style="margin-left:240px; padding-top:30px;">
            <button onclick="handleNewProfile()" class ="new_profile_button">New Profile</button>
            <nav class="mdl-navigation">
            	{% for item in profiles %}
               	 <a class="mdl-navigation__link {% if item.id == profile.id %}active{% endif %}" href="/profile/{{item.id}}">{{item.alias}}</a>
                {% endfor %}
            </nav>
        </div>
  </div>


<div style="margin-left:240px;">
	{% if profile.default %}
		<div class="detail_page_title">My Profile </div>
	{% else %}
		<div class="detail_page_title">{{ profile.alias }}'s Profile </div>
	{% endif %}
	<form id="form">
		{% csrf_token %}
		<input type="hidden" name="profile_id" value={{profile.id}}>

		{% regroup fields by get_category_display as category_list %}
		{% for category in category_list %}
			<div style="width:100%;display:table;">
			<h4 >{{ category.grouper }} </h4>
			{% for item in category.list %}
				{% include "sub_field.html" with field=item records=records %}
			{% endfor %}
			</div>
		{% endfor %}
	</form>

<br>

<button id="saveBtn" class="mdl-button mdl-js-button mdl-button--raised save_button">
  Save
</button>
<span id="save_status" class="grey_text"></span>

</div>


{% endblock %}

{% block script %}
    <script type="text/javascript">

	$("#saveBtn").click(function() {
		var formData = $('#form').serialize();
		$('#save_status').text('Saving...');
		$.post( "/profile/save/", formData)
		  .done(function( data ) {
		  	console.log(data);
		  	if (data == 'Success') {
				$('#save_status').text('Saved');
		  	} else {
				$('#save_status').text('Saving failed...');
		  	}
		  });
	});

   var dialog = document.querySelector('dialog');
    if (! dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
    }

    function handleNewProfile() {
      dialog.showModal();
	}
    dialog.querySelector('.close').addEventListener('click', function() {
      dialog.close();
    });

	</script>


{% endblock %}
