{% extends "console_base.html" %}
{% load staticfiles %}

{% block head%}
  <link rel="stylesheet" href="{% static "css/auto_complete.css" %}" type="text/css" />
{% endblock %}

{% block content %}

<div class="grid_list">

  {% for item in templates %}
    <form id="template_{{item.id}}" action="{% url 'application_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
      <input type="hidden" name="template" value="{{item.id}}" />

      <div class="application_wrapper" >
          <a href="#" onclick="$('#template_'+{{item.id}}).submit();">
            <div style="height:102px;">
            <img id="icon_{{item.id}}" class="application_icon" src="/static/img/file_icon.png"></img>
          </div>
          <div class="application_alias" >{{item.name}}</div>
          <!-- <div class="application_progress">30% completed</div> -->
          </a>
      </div>
    </form>
  {% endfor %}

</div>


{% endblock %}


{% block script %}
  <script type="text/javascript" src="/static/js/jquery.autocomplete.min.js"></script>
  <script type="text/javascript" src="/static/js/currency-autocomplete.js"></script>
{% endblock %}