
<style>
.button {
  display: inline-block;
  background-color: #66CC80;
  border-radius: 5px;
  line-height: 12px;
  font-weight: 700;
  font-size: 28px;
  padding: 14px 36px;
  color: #fff;
  -webkit-transition: 0.3s background-color;
  -moz-transition: 0.3s background-color;
  -o-transition: 0.3s background-color;
  transition: 0.3s background-color;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.button:hover {
  background-color: #62be7a;
  -webkit-transition: 0.1s background-color;
  -moz-transition: 0.1s background-color;
  -o-transition: 0.1s background-color;
  transition: 0.1s background-color;
}
</style> 
		<h1 class="ui header">
			<div class="ui transparent input" style="width: 100%">
				{{application.owner.first_name}} 分享了 {{application.alias}} 申请表
			</div>
		</h1>

		<a id="copy" class="button">复制本申请</a>

 <form id="form">
	<input type="hidden" name="application_id" value={{application.id}}>
	{% include pdf_html %}
</form>

 <script src="/static/js/jquery.min.js"></script>
 <script type="text/javascript">

   // Populate form with record data
    records = {{ records|safe }};
    window.onload = function() {
        renderRecords(records);
      	// Disable click
      	$(".it, .ir").attr("disabled", true);
    		$('.ir').click(function() {
    			if ($(this).hasClass('checked')) {
    				$(this).removeClass('checked');
    			} else {
    				$(this).addClass('checked');
    			}
    		});
    };

    function renderRecords(records) {
      for (var field in records) {
      value = records[field];
      $('[name="'+ field + '"]').each(function(i, obj) {
          if (obj.className == 'it') {
            obj.value = value;
          } else if ($(obj).hasClass('ir')) {
            obj.className = 'ir ' + value;
          }
      });
    }
    }

    $("#copy").click(function() {
       window.open("{% url 'application_share_copy' token=token %}");
    });

 </script>