{% load mytags %}

{% if field.type == 'text' %}
	<div class="property_container">
	  	<span style="padding: 24px 10px 24px 0">{{ field.description }}（中文）</span>
	  	<div class="mdl-textfield mdl-js-textfield property_input">
	    	<input class="mdl-textfield__input form_target" type="text" id="{{field.id}}:zh" name="field_{{field.id}}:zh" 
	    		   value="{{field.profile_data|access:'zh'|default_if_none:''}}">
	    	<label class="mdl-textfield__label">{{ field.tooltip }}</label>
	  	</div>
	  	<span style="padding: 24px 10px 24px 0">{{ field.description }}（英文）</span>
	  	<div class="mdl-textfield mdl-js-textfield property_input">
	    	<input class="mdl-textfield__input form_target" type="text" id="{{field.id}}:en" name="field_{{field.id}}:en" 
	    		   value="{{field.profile_data|access:'en'|default_if_none:''}}">
	    	<label class="mdl-textfield__label">{{ field.tooltip }}</label>
	  	</div>
	</div>
{% elif field.type == 'date' or field.type == 'digit' %}
	<div class="property_container">
	  	<span style="padding: 24px 10px 24px 0">{{ field.description }}</span>
	  	<div class="mdl-textfield mdl-js-textfield property_input">
	    	<input class="mdl-textfield__input form_target" type="text" id="field_{{field.id}}" name="field_{{field.id}}" value="{{field.profile_data}}">
	    	<label class="mdl-textfield__label" for="{{ field.id }}">{{ field.tooltip }}</label>
	  	</div>
	</div>
{% elif field.type == 'single_choice' %}
	<div class="property_container">
	<span style="padding: 24px 10px 24px 0">{{ field.description }}</span>
	{% for option in field.options|loadjson %}
	  	<div class="mdl-textfield mdl-js-textfield property_radio">
	  		<label class="mdl-radio mdl-js-radio"
	  			for="option_{{field.key}}_{{option.key}}">
            <input type="radio" 
            	id="option_{{field.key}}_{{option.key}}" 
            	value="{{option.key}}" 
            	{% if field.profile_data == option.key %}checked{% endif %}
            	name="field_{{field.id}}" class="mdl-radio__button form_target">
            <span class="mdl-radio__label">{{ option.value }}</span>
         </label> 
	  	</div>
  	{% endfor %}
  	</div>
{% endif%}