{% load_i18n %}
{% extends "console_base.html" %} 

{% block head %}
<script>
	window.pdf = "{{pdf_url}}";
	window.formId = {{template_id}};
	window.tagString = atob("{{ tag_string }}");
    window.csrf = "{{ csrf_token }}";
    window.tagType = 0;
    window.allFields = atob("{{ all_fields }}")
</script>
<script data-main="/static/js/main" src="/static/js/require.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
<style>
#page_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

canvas {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.page {
	padding-bottom: 20px;
}

svg {
	-webkit-transform: translate3d(0, 0, 0);
}

rect {
    fill: transparent;
    stroke: blue;
    stroke-width: 2px;
}

.tagview .title {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

#pages {
    float: left;
    overflow: scroll;
}

#page {
	margin-left: auto;
	margin-right: auto;
}

#right_bar {
    height: 100%;
    width: 300px;
    right: 0;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F0F0F4;
}

#save_button {
    margin-left: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    width: 240px;
    height: 40px;
    background-color: #66CC80;
    border-radius: 5px;
    border-width: 0px;
    font-size: 16px;
    color: #FFFFFF;
}

.tag_in_on_page {
    margin-left: auto;
    margin-right: auto;
}

.tag {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}

.ui.input.tag_name {
    font-size: 16px;
}

.tag_icon {
    padding-left: 10px;
}

.tag_name {
    padding-left: 10px;
    float: left;
    width: 250px;
}

.tag_close_button {
    float: right;
    color: #BDBDC8;
}

i.icon {
    font-size: 16px;
}

.text_middle {
    text-align: center;
}

.tag_page_header {
    padding-top: 10px;
}

.save_button_container {
    width: 100%;
    height: 60px;
    bottom: 0px;
    background-color: #F0F0F4;
}

.sidebar_title_container {
    width: 100%;
    height: 60px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F4;
}

.sidebar_tag_list {
	width: 100%;
	margin-bottom: 60px;
	overflow: scroll;
}

</style>
<script>
</script>
{% endblock %} 

{% block content %}
<div class="main">
    
    <div id="dimmer" class="ui inverted dimmer">
        <div id="dimmer_label" class="ui text loader">Saving</div>
    </div>

    <div id="pages" class="ui left floated">
        <h2 class="ui header">{{name}}</h2>
    </div>
    <div id="right_bar" class="ui sticky fixed">
        <div id="save_button_container" class="save_button_container ui sticky fixed">
            <button id="save_button">{% trans save %}</button>
        </div>
        <div id="sidebar_title_container" class="sidebar_title_container">
            <h3 class="text_middle">Tags</h3>
        </div>
        <div>
            <div style="width: 100%" class="ui selection dropdown">
              <input type="hidden" name="gender" value="0">
              <i class="dropdown icon"></i>
              <div class="default text">Gender</div>
              <div class="menu">
                <div class="item" data-value="0"><i class="copy icon"></i>Slot</div>
                <div class="item" data-value="1"><i class="font icon"></i>Text</div>
                <div class="item" data-value="2"><i class="checkmark icon"></i>Checkmark</div>
              </div>
            </div>
        </div>
		<div id="sidebar_tag_list" class="sidebar_tag_list">
		</div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $('.ui.dropdown.selection').dropdown();
    $('.ui.dropdown.selection').change(function() {
        console.log('selection changed' + this.value);
        window.tagType = parseInt(this.children[0].value);
    });
</script>
{% endblock %}
