{% extends "console_base.html" %}

{% block head %}

<link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">

<style>
	.file_list {
		padding-top: 30px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.upload_file_item {
		height: 100px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.file_item {
		height: 100px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.file_icon {
		height: 75px;
	}

	.file_icon_container {
		padding: 5px;
		float: left;
	}
	.file_info_container {
		float: left;
		padding-left: 20px;
		padding-top: 15px;
		font-size: 16px;
	}

	.upload_container {
		float: left;
		padding-top: 10px;
		padding-left: 20px;
	}

	.template_name_label {
		font-size: 18px;
		text-aligh: left;
		color: black;
	}

	.url_label {
		padding: 10px;
		color: gray;
	}
	
	.file_item_hover:hover .control_container {
		visibility: visible;
	}

	.control_container {
		padding-top: 20px;
		float:right;
		padding-right: 50px;
		padding-top: 25px;
		visibility: hidden
	}
	.control_button {
		margin-left: 25px;
		color: #66CC80;
	}
</style>
{% endblock %}

{% block content %}

<div class="file_list">
	<div class="upload_file_item">
		<div class="file_icon_container">
			<img class="file_icon" src="/static/img/pdf_icon.png"></img>
		</div>
		
		<div class="upload_container">
			<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
			   {% csrf_token %}
			   <input type="hidden" name="upload_type" value="template">
			 <div class="ui input" style="padding-bottom: 10px;">
			 	<input type="text" placeholder="template_name" name="template_name" />
			</div>
			
			<div>
				<input type="file" name="template_file" />
				<input type="submit" value="Upload" />
			</div>
			</form>
		</div>
	</div>

	{% for item in templates %}
		<div class="file_item file_item_hover" id="application_{{item.id}}">
		  	<a href="/template/{{item.id}}">
		  		<div class="file_icon_container">
					<img id="icon_{{item.id}}" class="file_icon" src="/static/img/pdf_icon.png"></img>
				</div>
				<div class="file_info_container">
					<div class="template_name_label" >{{item.name}}</div>
					<div class="url_label">
						<span>/template/{{item.id}}.pdf</span><span style="padding-left: 20px">Uploaded on Aug 04, 2016</span>
					</div>
				</div>
				<div class="control_container">
					<a href="{% url 'template_delete' template_id=item.id %}" class="control_button">Delete</a>
					<!-- <div class="application_progress">30% completed</div> -->
				</div>
				<div class="control_container">

					<form action="/application/create/" method="post" enctype="multipart/form-data">
					<span>
						{% csrf_token %}
					 	<input type="text" placeholder="" name="alias" />
					 	<input type="hidden" name="template" value="{{item.id}}" />
					</span>
					<span>
						<input type="submit" value="Fill" class="control_button fill_button" />
					</span>
					</form>

					<!-- <div class="application_progress">30% completed</div> -->
				</div>
		  	</a>
		</div>
	{% endfor %}
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
		$( "div.upload_file_item" )
		  .on( "mouseenter", function() {
			var obj = document.getElementById(this.id.replace('application', 'icon'));
			if (obj) {
				obj.setAttribute('src', '/static/img/file_icon_hover.png');
			}
		  })
		  .on( "mouseleave", function() {
			var obj = document.getElementById(this.id.replace('application', 'icon'));
			if (obj) {
				obj.setAttribute('src', '/static/img/pdf_icon.png');
			}
		  })
		$( "div.file_item" )
		  .on( "mouseenter", function() {
			var obj = document.getElementById(this.id.replace('application', 'icon'));
			obj.setAttribute('src', '/static/img/file_icon_hover.png');
		  })
		  .on( "mouseleave", function() {
			var obj = document.getElementById(this.id.replace('application', 'icon'));
			obj.setAttribute('src', '/static/img/pdf_icon.png');
		  })
	 </script>

{% endblock %}
