<!--[if lt IE 9]>
.browserupgrade
  | You are using an outdated browser. Please
  a(href="http://browsehappy.com/") upgrade your browser
  | to improve your experience.
<![endif]-->

header
  .logo
    svg(width="100", height="22")
      path(d="M12.5282354,10.7842008 C12.5282354,10.2081893 12.3602321,9.56017633 12.1922287,9.03216576 C11.3762124,6.63211772 9.38417249,5.12008745 6.76812012,5.12008745 C3.24004949,5.12008745 0.768,7.83214174 0.768,11.192209 C0.768,14.9122835 3.43205333,17.288331 6.96012396,17.288331 C8.49615471,17.288331 11.4482138,16.73632 11.4482138,15.3682926 C11.4482138,14.6482782 10.8002008,14.1442681 10.1521879,14.1442681 C9.96018402,14.1442681 9.7441797,14.1922691 9.55217585,14.288271 C8.83216144,14.6722787 7.94414366,14.8642825 7.29613069,14.8642825 C5.32809129,14.8642825 4.15206775,13.640258 3.9600639,12.1762287 L11.1122071,12.1762287 C11.9042229,12.1762287 12.5282354,11.5282157 12.5282354,10.7842008 L12.5282354,10.7842008 Z M9.6241773,10.1121874 L3.91206294,10.1121874 C4.05606582,8.96016432 4.87208216,7.54413597 6.76812012,7.54413597 C8.78416048,7.54413597 9.55217585,9.00816528 9.6241773,10.1121874 L9.6241773,10.1121874 Z M24.792481,15.6322979 L24.792481,9.51217537 C24.792481,6.17610859 22.3684324,5.12008745 19.7283796,5.12008745 C18.3843527,5.12008745 15.7923008,5.60009706 15.0722864,6.75212012 C14.9762844,6.92012348 14.904283,7.13612781 14.904283,7.35213213 C14.904283,8.07214654 15.504295,8.52815567 16.0563061,8.52815567 C16.2483099,8.52815567 16.4403137,8.45615423 16.6083171,8.36015231 C17.400333,7.83214174 18.2883507,7.61613742 19.200369,7.61613742 C20.7363998,7.61613742 21.7444199,8.38415279 21.7444199,9.56017633 L21.7444199,11.1202076 C20.9764046,10.2081893 19.6083772,9.70417922 18.0723464,9.70417922 C16.2243094,9.70417922 14.0402657,10.7361999 14.0402657,13.4482542 C14.0402657,16.0403061 16.2243094,17.288331 18.0723464,17.288331 C19.5843767,17.288331 20.9524041,16.73632 21.7444199,15.8003013 C21.7444199,16.9523243 22.8244416,17.1443282 23.0644464,17.1443282 L23.3044512,17.1443282 C24.1204675,17.1443282 24.792481,16.4723147 24.792481,15.6322979 L24.792481,15.6322979 Z M21.7444199,14.2162695 C21.2404098,14.888283 20.2803906,15.2242897 19.2963709,15.2242897 C18.0963469,15.2242897 17.1123272,14.6002772 17.1123272,13.5202556 C17.1123272,12.392233 18.0963469,11.7682205 19.2963709,11.7682205 C20.2803906,11.7682205 21.2404098,12.1042273 21.7444199,12.7762407 L21.7444199,14.2162695 Z M37.0087255,13.5682566 C37.0087255,8.88816288 30.1445881,10.3281917 30.1445881,8.60015712 C30.1445881,7.95214414 30.8646025,7.44813405 31.9686246,7.44813405 C32.9046434,7.44813405 33.8406621,7.71213934 34.584677,8.14414799 C34.7526804,8.24014991 34.9686847,8.28815087 35.1606885,8.28815087 C35.784701,8.28815087 36.3607125,7.78414078 36.3607125,7.13612781 C36.3607125,6.92012348 36.2887111,6.70411916 36.1687087,6.53611579 C35.5206957,5.60009706 33.4566544,5.12008745 31.9446241,5.12008745 C28.8965631,5.12008745 27.192529,6.82412156 27.192529,8.76816048 C27.192529,13.3282518 34.0806669,11.7682205 34.0806669,13.688259 C34.0806669,14.4082734 33.4566544,14.936284 32.136628,14.936284 C31.1286078,14.936284 29.9285838,14.5282758 29.0165655,14.0002652 C28.8245617,13.8802628 28.6085574,13.8322619 28.392553,13.8322619 C27.7445401,13.8322619 27.1205276,14.3842729 27.1205276,15.1042873 C27.1205276,15.3442921 27.192529,15.5602965 27.3365319,15.7523003 C28.0565463,16.784321 30.4805948,17.288331 31.9926251,17.288331 C35.2086895,17.288331 37.0087255,15.6802989 37.0087255,13.5682566 L37.0087255,13.5682566 Z M49.5369763,6.75212012 C49.5369763,6.00810522 48.9609648,5.26409033 48.0489465,5.26409033 C47.4009336,5.26409033 46.8009215,5.6720985 46.5849172,6.27211051 L43.8968634,13.4722547 L41.2088096,6.27211051 C40.9688048,5.64809802 40.3927933,5.26409033 39.7927813,5.26409033 C38.8567625,5.26409033 38.2567505,6.0321057 38.2567505,6.7761206 C38.2567505,6.94412396 38.280751,7.11212733 38.3527524,7.28013069 L42.3128317,17.1683286 L41.8808231,18.1523483 C41.6648187,18.632358 41.2328101,18.8723628 40.7288,18.9683647 C40.6087976,18.9923652 40.4647947,18.9923652 40.3447923,18.9923652 C39.480775,18.9923652 38.9047635,19.6163777 38.9047635,20.3363921 C38.9047635,21.1764089 39.7207798,21.7044195 40.776801,21.7044195 C42.4808351,21.7044195 43.9448644,20.9124036 44.7608807,18.8963632 L49.4409744,7.30413117 C49.5129758,7.13612781 49.5369763,6.94412396 49.5369763,6.75212012 L49.5369763,6.75212012 Z M58.8971637,2.16802835 C58.8971637,1.35201201 57.8171421,0.752 56.1611089,0.752 C53.8330623,0.752 52.2490306,2.31203123 52.2490306,4.78408072 L52.2490306,5.40809321 L51.5050157,5.40809321 C50.7850013,5.40809321 50.1849893,6.00810522 50.1849893,6.70411916 C50.1849893,7.47213453 50.7850013,8.07214654 51.5050157,8.07214654 L52.2490306,8.07214654 L52.2490306,15.6322979 C52.2490306,16.4723147 52.9210441,17.1443282 53.7610609,17.1443282 C54.6490787,17.1443282 55.3210921,16.4723147 55.3210921,15.6322979 L55.3210921,8.07214654 L56.5211161,8.07214654 C57.2171301,8.07214654 57.8171421,7.47213453 57.8171421,6.75212012 C57.8171421,6.00810522 57.2171301,5.40809321 56.5211161,5.40809321 L55.3210921,5.40809321 L55.3210921,4.78408072 C55.3210921,3.7040591 55.9211041,3.15204805 56.7611209,3.15204805 C57.2891315,3.15204805 57.5051358,3.32005141 57.865143,3.32005141 C58.3451527,3.32005141 58.8971637,2.93604372 58.8971637,2.16802835 L58.8971637,2.16802835 Z M70.9454049,11.192209 C70.9454049,7.90414318 68.6413588,5.12008745 64.8012819,5.12008745 C60.9852055,5.12008745 58.6811594,7.90414318 58.6811594,11.192209 C58.6811594,14.5042753 60.9852055,17.288331 64.8012819,17.288331 C68.6413588,17.288331 70.9454049,14.5042753 70.9454049,11.192209 L70.9454049,11.192209 Z M67.7773415,11.192209 C67.7773415,13.0162455 66.6973199,14.5762768 64.8012819,14.5762768 C62.9052439,14.5762768 61.8492228,13.0162455 61.8492228,11.192209 C61.8492228,9.39217297 62.9052439,7.83214174 64.8012819,7.83214174 C66.6973199,7.83214174 67.7773415,9.39217297 67.7773415,11.192209 L67.7773415,11.192209 Z M80.089588,6.56011627 C80.089588,5.86410234 79.6335788,5.31209129 78.7455611,5.31209129 C77.593538,5.31209129 76.8255226,6.22410955 76.2495111,6.99212492 L76.2495111,6.75212012 C76.2495111,5.93610378 75.5774976,5.26409033 74.7614813,5.26409033 C73.8734635,5.26409033 73.2014501,5.93610378 73.2014501,6.75212012 L73.2014501,15.6322979 C73.2014501,16.4723147 73.8734635,17.1443282 74.7134803,17.1443282 L74.7614813,17.1443282 C75.5774976,17.1443282 76.2495111,16.4723147 76.2495111,15.6322979 L76.2495111,9.34417201 C76.8015221,8.6241576 77.6895399,8.24014991 78.6255587,8.12014751 C79.4655755,8.0001451 80.089588,7.47213453 80.089588,6.56011627 L80.089588,6.56011627 Z M99.2899723,15.6322979 L99.2899723,8.6241576 C99.2899723,6.24811003 98.0179469,5.12008745 95.8819041,5.12008745 C94.1058686,5.12008745 92.5698378,6.17610859 91.8978244,7.23212973 C91.4658157,5.9121033 90.3857941,5.12008745 88.68176,5.12008745 C86.9057244,5.12008745 85.3696937,6.22410955 84.8896841,6.92012348 L84.8896841,6.75212012 C84.8896841,5.93610378 84.2176706,5.26409033 83.4016543,5.26409033 C82.5136365,5.26409033 81.841623,5.93610378 81.841623,6.75212012 L81.841623,15.6322979 C81.841623,16.4723147 82.5136365,17.1443282 83.3536533,17.1443282 C84.2176706,17.1443282 84.8896841,16.4723147 84.8896841,15.6322979 L84.8896841,9.20016913 C85.3456932,8.55215615 86.233711,7.83214174 87.2897321,7.83214174 C88.5377571,7.83214174 89.0177667,8.60015712 89.0177667,9.68017874 L89.0177667,15.6322979 C89.0177667,16.4723147 89.6897802,17.1443282 90.529797,17.1443282 C91.4178148,17.1443282 92.0898282,16.4723147 92.0898282,15.6322979 L92.0898282,9.17616865 C92.5218369,8.55215615 93.4098546,7.83214174 94.4898763,7.83214174 C95.7379012,7.83214174 96.2179108,8.60015712 96.2179108,9.68017874 L96.2179108,15.6322979 C96.2179108,16.4723147 96.8899243,17.1443282 97.7299411,17.1443282 C98.6179589,17.1443282 99.2899723,16.4723147 99.2899723,15.6322979 L99.2899723,15.6322979 Z")
  ul.menu
    li
      if (selectedPage=='applications')
        a.selected(href="applications-empty.html")
          | Applications
      else
        a(href="applications-empty.html")
          | Applications
    li
      if (selectedPage=='profiles')
        a.selected(href="profiles.html")
          | Profiles
      else
        a(href="profiles.html")
          | Profiles
    li
      if (selectedPage=='documents')
        a.selected(href="documents.html")
          | Documents
      else
        a(href="documents.html")
          | Documents
  .settings
    a.settings-icon(href="./index.html")
      svg(width="30", height="30")
        path(d="M22.1593316,15.98 C22.1993316,15.66 22.2293316,15.34 22.2293316,15 C22.2293316,14.66 22.1993316,14.34 22.1593316,14.02 L24.2693316,12.37 C24.4593316,12.22 24.5093316,11.95 24.3893316,11.73 L22.3893316,8.27 C22.2693316,8.05 21.9993316,7.97 21.7793316,8.05 L19.2893316,9.05 C18.7693316,8.65 18.2093316,8.32 17.5993316,8.07 L17.2193316,5.42 C17.1893316,5.18 16.9793316,5 16.7293316,5 L12.7293316,5 C12.4793316,5 12.2693316,5.18 12.2393316,5.42 L11.8593316,8.07 C11.2493316,8.32 10.6893316,8.66 10.1693316,9.05 L7.6793316,8.05 C7.4493316,7.96 7.1893316,8.05 7.0693316,8.27 L5.0693316,11.73 C4.9393316,11.95 4.9993316,12.22 5.1893316,12.37 L7.2993316,14.02 C7.2593316,14.34 7.2293316,14.67 7.2293316,15 C7.2293316,15.33 7.2593316,15.66 7.2993316,15.98 L5.1893316,17.63 C4.9993316,17.78 4.9493316,18.05 5.0693316,18.27 L7.0693316,21.73 C7.1893316,21.95 7.4593316,22.03 7.6793316,21.95 L10.1693316,20.95 C10.6893316,21.35 11.2493316,21.68 11.8593316,21.93 L12.2393316,24.58 C12.2693316,24.82 12.4793316,25 12.7293316,25 L16.7293316,25 C16.9793316,25 17.1893316,24.82 17.2193316,24.58 L17.5993316,21.93 C18.2093316,21.68 18.7693316,21.34 19.2893316,20.95 L21.7793316,21.95 C22.0093316,22.04 22.2693316,21.95 22.3893316,21.73 L24.3893316,18.27 C24.5093316,18.05 24.4593316,17.78 24.2693316,17.63 L22.1593316,15.98 L22.1593316,15.98 Z M14.7293316,18.5 C12.7993316,18.5 11.2293316,16.93 11.2293316,15 C11.2293316,13.07 12.7993316,11.5 14.7293316,11.5 C16.6593316,11.5 18.2293316,13.07 18.2293316,15 C18.2293316,16.93 16.6593316,18.5 14.7293316,18.5 L14.7293316,18.5 Z")
    .settings-menu
