head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  title #{pageTitle}
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="apple-touch-icon", href="apple-touch-icon.png")
  // http://realfavicongenerator.net to generate favicons for all platform
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700")
  link(rel="stylesheet", href="./main.css")
