script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
script.
  window.jQuery || document.write('<script src="js/vendor/jquery-2.2.0.min.js"><\/script>')
script(src="js/plugins.js")
script(src="js/main.js")
